/* ==========================================================================
   SEARCH HEADER
   ========================================================================== */

@import '../../styles/settings/_variables.scss';
@import '../../styles/settings/_mixins.scss';

.search-powered {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: auto;
  padding: 2rem 0 1rem;

  a {
    color: $gray-600;
  }
}
