<div class="page-container is-100vh mt-0" *ngIf="!searchQuery">
  <div class="page-content container">

    <section class="page-heading">
      <h2 class="page-heading--title">{{t._.header?.search_no_idea_row_1}}</h2>
      <p class="page-heading--caption">
        {{t._.header?.search_no_idea_row_2}} <a [routerLink]="['/discover']">{{t._.header?.search_no_idea_row_3}}</a>…
      </p>
    </section>

  </div>
</div>

<div class="page-container is-100vh mt-0" *ngIf="searchQuery && (isLoadingUsers || isLoadingCollections)">
  <div class="page-content container">

    <section class="page-heading">
      <h2 class="page-heading--title">{{t._.action?.loading}}</h2>
    </section>

  </div>
</div>

<div class="page-container is-100vh mt-0" *ngIf="searchQuery && (!isLoadingUsers || !isLoadingCollections)">
  <div class="page-content is-100vh container">

    <section class="page-heading" *ngIf="users.length < 1 && collections.length < 1">
      <h2 class="page-heading--title">{{t._.header?.search_no_result_for}} “{{searchQuery}}”</h2>
    </section>

    <section class="page-heading" *ngIf="users.length > 0 || collections.length > 0">
      <h2 class="page-heading--title">{{t._.header?.search_result_for}} “{{searchQuery}}”</h2>
    </section>

    <section class="page-section" *ngIf="users.length > 0">
      <div class="page-section--heading">
        <h2 class="page-section--heading--title">{{t._.object?.user_plur}}</h2>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let user of users">

          <article class="card card-user">
            <a class="card-user-content" [routerLink]="['/', user.username]" title="{{user.name}}">
              <div class="card-avatar avatar avatar--40">
                <img *ngIf="user._avatar" [src]="user._avatar?.getPath('40x40')" onError="this.style.display='none';" alt="{{user.name}} avatar">
                {{user.name.charAt(0)}}
              </div>
              <h3 class="card-profile-name">{{user.name}}</h3>
              <h4 class="card-profile-username">@{{user.username}}</h4>
            </a>
          </article>

        </div>
      </div>

    </section>

    <section class="page-section" *ngIf="collections.length > 0">
      <div class="page-section--heading">
        <h2 class="page-section--heading--title">{{t._.object?.collection_plur}}</h2>
      </div>

      <div class="row">
        <tc-collection-card class="col-12 col-md-6 col-lg-4 col-xl-3" [collection]="collection" [sortable]="false" *ngFor="let collection of collections"></tc-collection-card>
      </div>
    </section>

    <section class="search-powered">
      <a class="ml-auto" href="https://www.algolia.com" target="_blank" rel="nofollow">
        {{t._.header?.powered_by}} <strong>Algolia</strong>
      </a>
    </section>

  </div>
</div>
