<div class="search-results" *ngIf="!searchQuery">
  <div class="container">

    <div class="search-results--summary search-results--ideas">
      <h2 class="search-title">{{t._.header?.search_no_idea_row_1}}</h2>
      <p class="search-desc dark-bg">
        {{t._.header?.search_no_idea_row_2}} <a [routerLink]="['/discover']">{{t._.header?.search_no_idea_row_3}}</a>…
      </p>
    </div>

  </div>
</div>

<div class="search-results" *ngIf="searchQuery && (isLoadingUsers || isLoadingCollections)">
  <div class="container">

    <div class="search-results--summary search-results--loading">
      <div class="section-header dark-bg">
        <h2 class="section-header--title">{{t._.action?.loading}}</h2>
      </div>
    </div>

  </div>
</div>

<div class="search-results" *ngIf="searchQuery && (!isLoadingUsers || !isLoadingCollections)">
  <div class="container">

    <div class="search-results--summary search-results--nothing" *ngIf="users.length < 1 && collections.length < 1">
      <h3 class="search-results-before-title">{{t._.header?.search_no_result_for}}</h3>
      <h2 class="search-results-title">{{searchQuery}}</h2>
    </div>

    <div class="search-results--summary  search-results--show" *ngIf="users.length > 0 || collections.length > 0">
      <h3 class="search-results-before-title">{{t._.header?.search_result_for}}</h3>
      <h2 class="search-results-title">{{searchQuery}}</h2>
    </div>

    <div class="search-results--section search-results--users" *ngIf="users.length > 0">
      <div class="section-header dark-bg">
        <h2 class="section-header--title">{{t._.object?.user_plur}}</h2>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let user of users">

          <article class="card card-user">
            <a class="card-user-content" [routerLink]="['/', user.username]" title="{{user.name}}">
              <div class="card-avatar avatar avatar--40">
                <img *ngIf="user._avatar" [src]="user._avatar?.getPath('40x40')" onError="this.style.display='none';" alt="{{user.name}} avatar">
                {{user.name.charAt(0)}}
              </div>
              <h3 class="card-profile-name">{{user.name}}</h3>
              <h4 class="card-profile-username">@{{user.username}}</h4>
            </a>
          </article>

        </div>
      </div>

    </div>

    <div class="search-results--section search-results--collections" *ngIf="collections.length > 0">
      <div class="section-header dark-bg">
        <h2 class="section-header--title">{{t._.object?.collection_plur}}</h2>
      </div>

      <div class="row">
        <tc-collection-card class="col-12 col-md-6 col-lg-4 col-xl-3" [collection]="collection" [sortable]="false" *ngFor="let collection of collections"></tc-collection-card>
      </div>
    </div>

  </div>
</div>

<div class="search-powered">
  <div class="container">

    <div class="search-powered--content right">
      <a href="https://www.algolia.com" target="_blank">
        {{t._.header?.powered_by}} <strong>Algolia</strong>
      </a>
    </div>

  </div>
</div>
