<div class="application-content is-page">
  <div class="container">

    <div class="page-headings is-hidden" id="pageHeadings">

      <h2 class="page-headings--page-title">{{t._.page?.about?.title}}</h2>
      <!-- <p class="page-headings--page-description"></p> -->

    </div>

	<div class="page-container">
		<div class="page-content row is-hidden" id="pageContent">
			<div class="col-12 col-md-8 mx-auto">
				<markdown *ngIf="t._.page?.about?.content" [data]="t._.page?.about?.content"></markdown>
				<img style="display:block;width:100%;max-width:24rem;margin:2rem auto -3rem;" src="assets/img/illustration-empty--send-new.png" />
				<markdown class="text-center" *ngIf="t._.page?.contact?.content" [data]="t._.page?.contact?.content"></markdown>
				<div class="text-center">
					<a href="mailto:hi@tidy.cards" class="btn btn-primary" *ngIf="t._.page?.contact?.contact_btn">{{t._.page?.contact?.contact_btn}}</a>
				</div>
			</div>
		</div>
	</div>

	</div>
</div>
