<section class="auth-section">
  <div class="auth-container">
    <a href="javascript:void(0)" [routerLink]="['/']">
      <h1 class="icon-invow logo auth-logo">{{t._.app_name_capitals}}</h1>
    </a>
    <h2 class="auth-heading">{{t._.reset_password?.title}}</h2>

    <div class="auth-wrapper" *ngIf="!reseted">
      <div class="auth-content" *ngIf="!user">
        <p class="auth-top-content">{{t._.reset_password?.enter_email_username}}</p>
        <div class="form-group">
          <input [(ngModel)]='searchData' type="text" id="inputSearchData" class="form-control" placeholder="" required="" autofocus="" />
          <small *ngIf="isSearching" class="text-muted">{{t._.action?.loading}}</small>
          <small *ngIf="notFounded" class="text-danger">{{t._.reset_password?.not_found}} {{searchData}}</small>
        </div>
        <input *ngIf="!user" (click)="getUser()" [disabled]="!searchData" type="submit" value="{{t._.reset_password?.search}}" class="btn btn-primary btn-block"/>
      </div>

      <div class="auth-content" *ngIf="user">
        <p class="auth-top-content">{{t._.reset_password?.found}}</p>
        <div class="auth-content-card">
          <div *ngIf="user" class="profile-avatar avatar avatar--40">
            <img *ngIf="user?._avatar" [src]="user?._avatar?.getPath('140x140')"  alt="{{user?.name}} avatar">
            {{user?.name.charAt(0)}}
          </div>

          <div class="d-flex flex-column ml-2">
            <h6 class="d-flex mb-0">{{user.name}}</h6>
            <span class="text-muted">@{{user.username}}</span>
          </div>
        </div>

        <input (click)="requestReset()" value="{{t._.reset_password?.send_instructions}}" type="submit" class="btn btn-primary btn-block" />
        <small *ngIf="resetError" class="d-flex justify-content-center text-danger mt-2">{{t._.reset_password?.error}}</small>
        <a href="javascript:void(0)" class="d-inline-flex mt-3" (click)="reSearch()">{{t._.reset_password?.not_you}}</a>
      </div>
    </div>

    <div class="auth-wrapper" *ngIf="reseted">
      <div class="auth-content">
        <p class="auth-top-content mb-0">{{t._.reset_password?.email_sent}}</p>
      </div>
    </div>
  </div>
</section>
