.avatar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    background: $collection-purple;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    color: rgba($white, .75);
    font-weight: 500;
    text-transform: uppercase;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    a {
      color: inherit;
    }
}

.avatar--32 {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 1rem;
}

.avatar--40 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.25rem;
}

.avatar--60 {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 1.875rem;
}

.avatar--140 {
    width: 140px;
    height: 140px;
    line-height: 140px;
    font-size: 4.375rem;
}
