.card-ghost {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  height: auto;
  position: relative;

  &:before {
    background: rgba(0,0,0,.05);
    content: "";
    position: absolute;
    top: 0;
    left: .5rem;
    right: 0;
    bottom: 0;
    border-radius: $border-radius-base;
  }
}

.card-moving {
  padding: 0;
  margin: 0 8px 0 -.5rem;
}
