.dropdown-menu {
    border-radius: 3px;
    border: none;
    padding: .5rem;
    box-shadow: 0 .25rem .75rem rgba($black,.25);
}

.dropdown-header {
    margin-bottom: .125rem;
    color: $black-light;
}

.dropdown-item {
    padding: .25rem 1.5rem .25rem 1rem;
    border-radius: $border-radius-base;

    &.text-danger {
      &:hover, &:active, &:focus {
        background-color: rgba($red,.1);
      }
    }
}

.dropdown-divider {
    background-color: $border-color;
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.dropdown-item small {
    margin-top: -3px;
    display: block;
    color: $black-light;
}

.dropdown-item--infos {
  padding: 3px 15px;
}

.dropdown-item--infos-title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.dropdown-item--infos-subtitle {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25rem;
  color: $gray-600;
}
