.form-control + .form-control {
  margin-left: .5rem;
}

.form-group {
    margin-bottom: .5rem;
}

.form-actions {}

.form-action {
    outline: none;
    color: $text-blacker;
    vertical-align: middle;
}

.form-action.open,
.form-action.active {
    color: $black-op-3-4;
}

.file {
    overflow: hidden;
    margin: 0;

    input {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

.custom-file {
    height: 34px;
}
