.modal {
  background-color: rgba(255,255,255,.1);
  background: radial-gradient(circle at center, rgba($white, 1) 25%, rgba($white, .95) 50%, rgba($white, .75) 100%);
}

.modal-dialog {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 0;
  height: 100vh;
  margin: 0 auto;
  pointer-events: none;
  padding: 0 1rem;
}

.modal-content {
  flex: 1 0 auto;
  border: none;
  box-shadow: 0 .125rem 16rem rgba($black, .25);
  pointer-events: all;

  .card {
    margin: 0;
  }
}
