.modal-backdrop {
  transition: backdrop-filter .3s ease, -webkit-backdrop-filter .3s ease;

  &.show {
    backdrop-filter: blur(.25rem);
    -webkit-backdrop-filter: blur(.25rem);
  }
}

.modal {
  background: radial-gradient(circle at center, rgba($white, 1) 25%, rgba($white, .95) 50%, rgba($white, .75) 100%);
}

.modal-header {
  border: none;
}

.modal-content {
  flex: 1 0 auto;
  border: none;
  box-shadow: 0 .125rem 16rem rgba($black, .25);
  pointer-events: all;

  .card {
    margin: 0;
  }
}

.modal-footer {
  border: none;
}
