.stats-list {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.stat-item-list {
    float: left;
    margin-left: 15px;
}

.stat-icon {
    line-height: 1;
    font-size: 1.125rem!important;
    vertical-align: sub;
}
