<div class="page-content container">

  <section class="page-heading">
    <h2 class="page-heading--title">{{t._.trending?.page_title}}</h2>
    <p class="page-heading--caption">{{t._.featured?.page_caption}}</p>
  </section>

  <section class="page-section">
    <div class="page-section--heading">
      <h2 class="page-section--heading--title">{{t._.collection?.popular_title}}</h2>
    </div>

    <div class="page-collections-list">
      <tc-collection-card class="collection-card--container" [collection]="collection" [sortable]="false" *ngFor="let collection of collections"></tc-collection-card>
    </div>

    <a href="javascript:void(0)" class="load-more mt-3" *ngIf="haveMoreCollections && !loadingCollections"(click)="loadNextPage()">{{t._.action?.load_more}}</a>
    <p class="loading-more mt-3" *ngIf="loadingCollections">{{t._.action?.loadind}}</p>
    <p class="no-more mt-3" *ngIf="!haveMoreCollections && pageNb > 0">{{t._.collection?.list_end}}</p>
  </section>

</div>
