<div class="page-container">
  <div class="page-content container">

    <section class="page-heading">
      <h2 class="page-heading--title">{{t._.settings?.page_title}}</h2>
      <p class="page-heading--caption">{{t._.settings?.page_caption}}</p>
    </section>

    <section class="page-section">
      <div class="page-section--heading">
        <h2 class="page-section--heading--title">{{t._.profile_private?.profile_title}}</h2>
      </div>

      <div class="d-flex mb-3">

        <div class="avatar avatar--128 mr-4">
          <img *ngIf="!tmpUser._avatar && authService.currentUser._avatar" [src]="authService.currentUser._avatar?.getPath('140x140')" onError="this.style.display='none';" alt="{{authService.currentUser?.name}} avatar">
          <img *ngIf="tmpUser._avatar" [src]="tmpUser._avatar?.getPath('original')" />
          {{authService.currentUser.name.charAt(0)}}
        </div>

        <div class="d-flex flex-column justify-content-center">
          <label for="accountThumbnail">
            {{t._.profile_private?.thumbnail_row_title}}
            <span class="loading-icon" *ngIf="isUploadingAvatar">{{t._.icon?.waiting?.filled}}</span>
          </label>
          <input id="accountThumbnail" (change)="onAvatarFileChange($event)" [disabled]="!updateGeneralInfoIntent" type="file" ng2FileSelect [uploader]="uploader" />
        </div>

      </div>

      <div class="form-group">
        <label for="accountName">{{t._.profile_private?.name_row_title}}</label>
        <input #nameInput class="form-control" id="accountName" placeholder="{{t._.profile_private?.bio_placeholder}}" autofocus [disabled]="!updateGeneralInfoIntent" [(ngModel)]="tmpUser.name" name="name" type="text" />
      </div>

      <div class="form-group">
        <label for="accountBio">{{t._.profile_private?.bio_row_title}}</label>
        <textarea class="form-control" id="accountBio" rows="4" placeholder="{{t._.profile_private?.bio_placeholder}}" [disabled]="!updateGeneralInfoIntent" [(ngModel)]="tmpUser.bio" name="bio">{{tmpUser.bio}}</textarea>
      </div>

      <div class="form-group">
        <label for="accountHandle">
          {{t._.profile_private?.username_row_title}} <span class="muted">{{t._.profile_private?.username_row_span}}</span>
        </label>
        <input #usernameInput class="form-control" id="accountHandle" aria-describedby="handleHelp" placeholder="{{t._.profile_private?.bio_placeholder}}" [disabled]="!updateGeneralInfoIntent" [(ngModel)]="tmpUser.username" name="username" (keyup)="onUsernameKeyUp()" (keydown)="onUsernameKeyDown()" type="input" />
        <small id="handleHelp" class="form-text text-muted" *ngIf="!updateGeneralInfoIntent">
          https://www.tidy.cards/{{authService.currentUser.username}}
        </small>
        <ng-container *ngIf="updateGeneralInfoIntent">
          <small id="handleHelp" class="form-text text-muted" *ngIf="tmpUser.username === authService.currentUser.username">
            That’s your current username!
          </small>
          <ng-container *ngIf="tmpUser.username != authService.currentUser.username">
            <small id="handleHelp" class="form-text text-muted" *ngIf="usernameState == 'VALIDATING'">
              Validation in progress…
            </small>
            <small id="handleHelp" class="form-text text-success" *ngIf="usernameState == 'FREE'">
              This username is available
            </small>
            <small id="handleHelp" class="form-text text-danger" *ngIf="usernameState == 'INVALID'">
              This username is not valid
            </small>
            <small id="handleHelp" class="form-text text-danger" *ngIf="usernameState == 'TAKEN'">
              This username is not available
            </small>
          </ng-container>
        </ng-container>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <label for="accountEmail">
              {{t._.profile_private?.email_row_title}} <span class="muted" *ngIf="!authService.currentUser.emailConfirmed"> ({{t._.profile_private?.email_confirmation_state_no}})</span>
            </label>
            <!-- <input #emailInput type="email" class="form-control" id="accountEmail" aria-describedby="emailHelp" [disabled]="!updateGeneralInfoIntent || !authService.currentUser.emailConfirmed" [(ngModel)]="tmpUser.email" name="email" (keyup)="onEmailKeyUp()" (keydown)="onEmailKeyDown()" /> -->
            <input #emailInput type="email" class="form-control" id="accountEmail" aria-describedby="emailHelp" [disabled]="!updateGeneralInfoIntent" [(ngModel)]="tmpUser.email" name="email" (keyup)="onEmailKeyUp()" (keydown)="onEmailKeyDown()" />
            <ng-container *ngIf="authService.currentUser.email && !authService.currentUser.emailConfirmed">
              <small id="emailHelp" class="form-text text-muted">
                {{t.format(t._.profile_private?.email_confirmation_info, [authService.currentUser.email])}}
                <a href="javascript:void(0)" (click)="updateEmail()">{{t._.profile_private?.email_confirmation_resend}}</a>
              </small>
            </ng-container>
            <!-- <ng-container *ngIf="updateGeneralInfoIntent && authService.currentUser.emailConfirmed"> -->
            <ng-container *ngIf="updateGeneralInfoIntent">
              <small id="emailHelp" class="form-text text-muted" *ngIf="compareEmail()">
                That’s your current email!
              </small>
              <ng-container *ngIf="!compareEmail()">
                <small id="emailHelp" class="form-text text-muted" *ngIf="emailState == 'VALIDATING'">
                  Validation in progress…
                </small>
                <small id="emailHelp" class="form-text text-success" *ngIf="emailState == 'FREE'">
                  This email is available
                </small>
                <small id="emailHelp" class="form-text text-danger" *ngIf="emailState == 'INVALID'">
                  This email is not valid
                </small>
                <small id="emailHelp" class="form-text text-danger" *ngIf="emailState == 'TAKEN'">
                  This email is not available
                </small>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <label for="accountLanguage">
              {{t._.profile_private?.language_row_title}}
              <span class="loading-icon" *ngIf="isUpdatingLanguage">{{t._.icon?.waiting?.filled}}</span>
            </label>
            <select class="custom-select" id="accountLanguage" aria-describedby="languageHelp" (change)="updateLanguage()" [(ngModel)]="tmpUser.language" name="language" [disabled]="isUpdatingLanguage">
              <option value="en">English (US)</option>
              <option value="fr">Français (FR)</option>
            </select>
          </div>
        </div>
      </div>

      <input class="btn btn-block btn-primary" (click)="updateGeneralInfo()" [disabled]="isUpdadingGeneralInfo || isUploadingAvatar || !tmpUser.name" type="submit" value="{{t._.profile_private?.update_account_button}}" />

    </section>

    <section class="page-section">
      <div class="page-section--heading">
        <h2 class="page-section--heading--title">{{t._.profile_private?.password_title}}</h2>
      </div>

      <div class="form-group" *ngIf="authService.currentUser.local.active">
        <label for="accountPasswordNew">{{t._.profile_private?.password_new}}</label>
        <input class="form-control" id="accountPasswordNew" [(ngModel)]="newPassword" name="newPassword" type="password" value="" />
      </div>

      <div class="form-group">
        <label for="accountPasswordConfirmation">{{t._.profile_private?.password_confirmation}}</label>
        <input class="form-control" id="accountPasswordConfirmation" [(ngModel)]="newPasswordRepeat" name="newPasswordRepeat" type="password" value="" />
      </div>

      <div class="form-group">
        <label for="accountPasswordCurrent">{{t._.profile_private?.password_current}}</label>
        <input class="form-control" id="accountPasswordCurrent" [(ngModel)]="password" name="password" type="password" value="" />
        <small id="handleHelp" class="form-text" [class.text-muted]="isUpdatingPassword" [class.text-success]="!isUpdatingPassword && passwordUpdateState == 'SUCCESS'" [class.is-danger]="!isUpdatingPassword && passwordUpdateState == 'FAILED'">
          <ng-container *ngIf="isUpdatingPassword">
            Update in progress..
          </ng-container>
          <ng-container *ngIf="!isUpdatingPassword && passwordUpdateState == 'SUCCESS'">
            Password updated
          </ng-container>
          <ng-container *ngIf="!isUpdatingPassword && passwordUpdateState == 'FAILED'">
            The password entered do not match with the account password
          </ng-container>
          <a href="javascript:void(0)" [routerLink]="['/reset/initiate', {user_id: authService.currentUser._id}]">
            {{t._.profile_private?.security_recover_pwd}}
          </a>
        </small>
      </div>

      <input class="btn btn-block btn-primary" (click)="updatePassword()" [disabled]="!isUpdatingPassword && !isUpdatePasswordFormValid()" type="submit" value="{{t._.action?.update}}" *ngIf="authService.currentUser.local.active"/>
      <input class="btn btn-block btn-primary" (click)="setPassword()" [disabled]="!isUpdatingPassword && !isSetPasswordFormValid()" type="submit" value="{{t._.action?.save}}" *ngIf="!authService.currentUser.local.active"/>

    </section>

    <section class="page-section">
      <div class="page-section--heading">
        <h2 class="page-section--heading--title">{{t._.profile_private?.accounts_title}}</h2>
        <p class="page-section--heading--subtitle">
          <span class="row">
            <span class="col-12 col-lg-8">
              {{t._.profile_private?.accounts_subtitle}}
            </span>
          </span>
        </p>
      </div>

      <div class="disclaimer mb-3">
        <span class="icon">info</span>
        <span>{{t._.profile_private?.accounts_disclaimer}}</span>
      </div>

      <div class="mb-3">
        <h3 class="list-item-title">{{t._.profile_private?.accounts_facebook}}</h3>
        <a class="btn is-facebook" (click)="linkAccount('facebook')" *ngIf="!authService.currentUser.facebook?.id">
          {{t._.profile_private?.accounts_connect_facebook}}
        </a>
        <a href="javascript:void(0)" class="btn btn-danger" (click)="unlinkAccount('FACEBOOK')" *ngIf="authService.currentUser.facebook?.id && (authService.currentUser.local?.active || authService.currentUser.google?.id || authService.currentUser.twitter?.id)">
          {{t._.profile_private?.facebook_unlink_button}}
        </a>
      </div>

      <div class="mb-3">
        <h3 class="list-item-title">{{t._.profile_private?.accounts_twitter}}</h3>
        <a class="btn is-twitter" (click)="linkAccount('twitter')" *ngIf="!authService.currentUser.twitter?.id">
          {{t._.profile_private?.accounts_connect_twitter}}
        </a>
        <a href="javascript:void(0)" class="btn btn-danger" (click)="unlinkAccount('TWITTER')" *ngIf="authService.currentUser.twitter?.id && (authService.currentUser.local?.active || authService.currentUser.google?.id || authService.currentUser.facebook?.id)">
          {{t._.profile_private?.twitter_unlink_button}}
        </a>
      </div>

      <div class="mb-3">
        <h3 class="list-item-title">{{t._.profile_private?.accounts_google}}</h3>
        <a class="btn is-google" (click)="linkAccount('google')" *ngIf="!authService.currentUser.google?.id">
          {{t._.profile_private?.accounts_connect_google}}
        </a>
        <a href="javascript:void(0)" class="btn btn-danger" (click)="unlinkAccount('GOOGLE')" *ngIf="authService.currentUser.google?.id && (authService.currentUser.local?.active || authService.currentUser.twitter?.id || authService.currentUser.facebook?.id)">
          {{t._.profile_private?.google_unlink_button}}
        </a>
      </div>

    </section>

    <!-- <div class="profile-header">

      <div class="profile-header-infos">
        <div class="profile-header-top">
          <div class="profile-infos-name">
            <h2 class="profile-name">
              <input #nameInput [disabled]="!updateGeneralInfoIntent" [(ngModel)]="tmpUser.name" name="name" type="text" />
            </h2>
            <h3 class="profile-username">@{{authService.currentUser.username}}</h3>
          </div>
          <div class="profile-infos-edit">
            <small *ngIf="isUpdadingGeneralInfo">saving information...</small>
            <input *ngIf="!updateGeneralInfoIntent" (click)="startUpdateGeneralInfo()" class="btn btn-secondary btn-sm" type="submit" value="{{t._.action?.edit}}" />
            <a *ngIf="updateGeneralInfoIntent" (click)="cancelUpdateGeneralInfo()" class="btn btn-sm btn-primary">{{t._.action?.cancel}}</a>
            <input *ngIf="updateGeneralInfoIntent" (click)="updateGeneralInfo()" [disabled]="isUpdadingGeneralInfo || isUploadingAvatar || !tmpUser.name" class="btn btn-sm btn-secondary" type="submit" value="{{t._.action?.save}}" />
          </div>
        </div>
        <div class="profile-header-bottom">
          <textarea [(ngModel)]="tmpUser.bio" name="bio" [disabled]="!updateGeneralInfoIntent" class="profile-infos-bio" placeholder="{{t._.profile_private?.bio_placeholder}}">{{tmpUser.bio}}</textarea>
        </div>
      </div>
    </div>

    <div class="account-settings section row-md">
      <h2 class="section-title mb-1 col-md-12">{{t._.profile_private?.account_title}}</h2>
      <div class="card">
        <div class="card-body">
          <div class="list-item">
            <div class="list-item-infos">
              <h3 class="list-item-title">{{t._.profile_private?.username_row_title}}</h3>
              <p class="list-item-description d-sm-flex flex-row">
                https://www.tidy.cards/
                <input #usernameInput
                [(ngModel)]="tmpUser.username"
                name="username"
                (keyup)="onUsernameKeyUp()"
                (keydown)="onUsernameKeyDown()"
                [disabled]="!updateUsernameIntent"
                class="list-item-description-darker"
                type="input"/>
              </p>
              <div class="list-item-status small" *ngIf="updateUsernameIntent">
                <p class="text-success" *ngIf="tmpUser.username === authService.currentUser.username">That’s your current username!</p>
                <div *ngIf="tmpUser.username != authService.currentUser.username">
                  <p class="text-muted" *ngIf="usernameState == 'VALIDATING'">Validation in progress..</p>
                  <p class="text-success" *ngIf="usernameState == 'FREE'">This username is available</p>
                  <p class="text-danger" *ngIf="usernameState == 'INVALID'">This username is not valid</p>
                  <p class="text-danger" *ngIf="usernameState == 'TAKEN'">This username is not available</p>
                </div>
              </div>
            </div>
            <div class="list-item-actions">
              <small *ngIf="updateUsernameIntent && isUpdatingUsername">Saving information...</small>
              <input href="javascript:void(0)"
              *ngIf="!updateUsernameIntent"
              (click)="startUpdateUsername()"
              value="{{t._.profile_private?.username_edit_button}}"
              class="btn btn-sm btn-outline-primary" type="submit"/>
              <input *ngIf="updateUsernameIntent" [disabled]="isUpdatingUsername || usernameState!='FREE'" (click)="updateUsername()" class="btn btn-sm btn-primary" type="submit" value="{{t._.action?.save}}"/>
              <a *ngIf="updateUsernameIntent" (click)="cancelUpdateUsername()" class="btn btn-sm btn-secondary">{{t._.action?.cancel}}</a>
            </div>
          </div>

          <div class="list-item">
            <div class="list-item-infos">
              <h3 class="list-item-title">
                {{t._.profile_private?.email_row_title}}
                <small *ngIf="authService.currentUser.emailConfirmed"> ({{t._.profile_private?.email_confirmation_state_yes}})</small>
                <small *ngIf="!authService.currentUser.emailConfirmed"> ({{t._.profile_private?.email_confirmation_state_no}})</small>
              </h3>
              <input #emailInput [(ngModel)]="tmpUser.email" name="email" (keyup)="onEmailKeyUp()" (keydown)="onEmailKeyDown()" [disabled]="!updateEmailIntent" class="list-item-description-darker" type="input" />
              <div class="list-item-status small" *ngIf="authService.currentUser.email && !authService.currentUser.emailConfirmed && !updateEmailIntent">
                <p class="text-muted">
                  {{t.format(t._.profile_private?.email_confirmation_info, [authService.currentUser.email])}}
                  <a href="javascript:void(0)" (click)="updateEmail()">
                    {{t._.profile_private?.email_confirmation_resend}}
                  </a>
                </p>
              </div>
              <div *ngIf="updateEmailIntent" class="list-item-status">
                <small *ngIf="compareEmail()" class="text-success">That’s your current email!</small>
                <div *ngIf="!compareEmail()">
                  <small class="text-muted" *ngIf="emailState == 'VALIDATING'">Validation in progress..</small>
                  <small class="text-success" *ngIf="emailState == 'FREE'">This email is available</small>
                  <small class="text-danger" *ngIf="emailState == 'INVALID'">This email is not valid</small>
                  <small class="text-danger" *ngIf="emailState == 'TAKEN'">This email is not available</small>
                </div>
              </div>
            </div>
            <div class="list-item-actions">
              <small *ngIf="updateEmailIntent && isUpdatingEmail">saving information...</small>
              <input href="javascript:void(0)"
              *ngIf="!updateEmailIntent"
              (click)="startUpdateEmail()"
              value="{{t._.profile_private?.email_edit_button}}"
              class="btn btn-sm btn-outline-primary" type="submit">
              <input
              *ngIf="updateEmailIntent"
              (click)="updateEmail()"
              [disabled]="!tmpUser.email || (authService.currentUser.email && tmpUser.email.toLowerCase() === authService.currentUser.email.toLowerCase()) || isUpdatingEmail || emailState!='FREE'"
              class="btn btn-sm btn-primary" type="submit" value="{{t._.action?.save}}"/>
              <a *ngIf="updateEmailIntent" (click)="cancelUpdateEmail()" class="btn btn-sm btn-secondary">{{t._.action?.cancel}}</a>
            </div>
          </div>

          <div class="list-item">
            <div class="list-item-infos">
              <h3 class="list-item-title">
                {{t._.profile_private?.language_row_title}}
              </h3>
            </div>
            <div class="list-item-actions">
              <select class="custom-select select-sm" (change)="updateLanguage()" [(ngModel)]="tmpUser.language" name="language" [disabled]="isUpdatingLanguage">
                <option value="en">English</option>
                <option value="fr">Français</option>
              </select>
              <small *ngIf="isUpdatingLanguage">Update in progress..</small>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="connections-settings section row-md">
      <h2 class="section-title mb-1 col-md-12">{{t._.profile_private?.connections_title}}</h2>
      <div class="card">
        <div class="card-body">
          <div class="list-item">
            <div class="list-item-infos">
              <h3 class="list-item-title">{{t._.profile_private?.facebook_row_title}}</h3>
              <p class="list-item-description">{{t._.profile_private?.facebook_row_subtitle}}<strong>{{t._.profile_private?.facebook_row_subtitle_span}}</strong></p>
            </div>
            <div class="list-item-actions" *ngIf="!authService.currentUser.facebook?.id">
              <a class="btn btn-sm btn--facebook" (click)="linkAccount('facebook')">{{t._.profile_private?.facebook_link_button}}</a>
            </div>
            <div class="list-item-actions" *ngIf="authService.currentUser.facebook?.id && (authService.currentUser.local?.active || authService.currentUser.google?.id || authService.currentUser.twitter?.id)">
              <a href="javascript:void(0)" class="btn btn-sm btn-outline-primary" (click)="unlinkAccount('FACEBOOK')">{{t._.profile_private?.facebook_unlink_button}}</a>
            </div>
          </div>
          <div class="list-item">
            <div class="list-item-infos">
              <h3 class="list-item-title">{{t._.profile_private?.twitter_row_title}}</h3>
              <p class="list-item-description">{{t._.profile_private?.twitter_row_subtitle}}<strong>{{t._.profile_private?.twitter_row_subtitle_span}}</strong></p>
            </div>
            <div class="list-item-actions" *ngIf="!authService.currentUser.twitter?.id">
              <a class="btn btn-sm btn--twitter" (click)="linkAccount('twitter')">{{t._.profile_private?.twitter_link_button}}</a>
            </div>
            <div class="list-item-actions" *ngIf="authService.currentUser.twitter?.id && (authService.currentUser.local?.active || authService.currentUser.google?.id || authService.currentUser.facebook?.id)">
              <a href="javascript:void(0)" class="btn btn-sm btn-outline-primary" (click)="unlinkAccount('TWITTER')">{{t._.profile_private?.twitter_unlink_button}}</a>
            </div>
          </div>
          <div class="list-item">
            <div class="list-item-infos">
              <h3 class="list-item-title">{{t._.profile_private?.google_row_title}}</h3>
              <p class="list-item-description">{{t._.profile_private?.google_row_subtitle}}<strong>{{t._.profile_private?.google_row_subtitle_span}}</strong></p>
            </div>
            <div class="list-item-actions" *ngIf="!authService.currentUser.google?.id">
              <a class="btn btn-sm btn--google" (click)="linkAccount('google')">{{t._.profile_private?.google_link_button}}</a>
            </div>
            <div class="list-item-actions" *ngIf="authService.currentUser.google?.id && (authService.currentUser.local?.active || authService.currentUser.twitter?.id || authService.currentUser.facebook?.id)">
              <a href="javascript:void(0)" class="btn btn-sm btn-outline-primary" (click)="unlinkAccount('GOOGLE')">{{t._.profile_private?.google_unlink_button}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="security-settings section row-md">
      <h2 class="section-title mb-1 col-md-12">{{t._.profile_private?.security_title}}</h2>
      <div class="card">
        <div class="card-body">
          <div class="list-item">
            <div class="list-item-infos" *ngIf="authService.currentUser.local.active">
              <h3 class="list-item-title">{{t._.profile_private?.security_change_pwd}}</h3>
              <p class="list-item-description mb-2">{{t._.profile_private?.security_change_pwd_desc}}</p>
              <div class="form-group d-flex flex-row">
                <input class="form-control list-item-form" [(ngModel)]="password" name="password" type="password" value="" placeholder="{{t._.profile_private?.security_current_pwd}}" />
              </div>
              <div class="form-group d-flex flex-row">
                <input class="form-control list-item-form" [(ngModel)]="newPassword" name="newPassword" type="password" value="" placeholder="{{t._.profile_private?.security_new_pwd}}" />
                <input class="form-control list-item-form" [(ngModel)]="newPasswordRepeat" name="newPasswordRepeat" type="password" value="" placeholder="{{t._.profile_private?.security_re_new_pwd}}" />
              </div>
              <div class="small">
                <p *ngIf="isUpdatingPassword" class="text-muted">Update in progress..</p>
                <p *ngIf="!isUpdatingPassword && passwordUpdateState == 'SUCCESS'" class="text-success">Password updated</p>
                <p *ngIf="!isUpdatingPassword && passwordUpdateState == 'FAILED'" class="text-danger">The password entered do not match with the account password</p>
                <a href="javascript:void(0)" class="d-inline-block" [routerLink]="['/reset/initiate', {user_id: authService.currentUser._id}]">
                  {{t._.profile_private?.security_recover_pwd}}
                </a>
              </div>
            </div>
            <div class="list-item-actions" *ngIf="authService.currentUser.local.active">
              <input class="btn btn-sm btn-primary" (click)="updatePassword()" [disabled]="!isUpdatingPassword && !isUpdatePasswordFormValid()" type="submit" value="{{t._.action?.update}}"/>
            </div>
            <div class="list-item-infos" *ngIf="!authService.currentUser.local.active">
              <h3 class="list-item-title mb-2">{{t._.profile_private?.security_set_pwd}}</h3>
              <div class="form-group d-flex flex-row">
                <input class="form-control list-item-form" [(ngModel)]="newPassword" name="newPassword" type="password" value="" placeholder="{{t._.profile_private?.security_new_pwd}}" />
                <input class="form-control list-item-form" [(ngModel)]="newPasswordRepeat" name="newPasswordRepeat" type="password" value="" placeholder="{{t._.profile_private?.security_re_new_pwd}}" />
              </div>
            </div>
            <div class="list-item-actions" *ngIf="!authService.currentUser.local.active">
              <input (click)="setPassword()" [disabled]="!isUpdatingPassword && !isSetPasswordFormValid()" class="btn btn-sm btn-primary" type="submit" value="{{t._.action?.save}}"/>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
