<div class="collection-item--body is-medium">

  <div class="collection-item--details">

    <a [href]="item._content.url" target="_blank" rel="nofollow" class="collection-item--cover-link">
      <div class="collection-item--cover">
        <img [src]="getImageProxyUrl(itemUrl.image)" class="collection-item--cover-image" onError="this.style.display='none';"  *ngIf="itemUrl.image"/>
        <span class="collection-item--cover-icon" *ngIf="!itemUrl.image">image</span>

        <div class="collection-item--favicon">
          <img src="https://www.google.com/s2/favicons?domain={{item._content.host}}" />
        </div>
      </div>
    </a>

    <a [href]="item._content.url" target="_blank" rel="nofollow" class="collection-item--link">
      <div class="collection-item--link-pane">
        <div class="collection-item--title">{{item.title}}</div>
        <div class="collection-item--description">{{item._content.description}}</div>
        <div class="collection-item--host">{{item._content.host}}</div>
      </div>
    </a>

  </div>

</div>
