/* ==========================================================================
   ITEM URL COMPONENT
   ========================================================================== */

@import '../../../styles/settings/_variables.scss';
@import '../../../styles/settings/_mixins.scss';

.collection-item--cover .collection-item--favicon {
  position: absolute;
  left: .5rem;
  bottom: .5rem;
  z-index: 1;
  margin: 0;
}

//
// .collection-item--embeded-container {
//   position: relative;
//   display: flex;
//   flex-direction: row;
//   color: $gray-900;
//
//   &:hover {
//     text-decoration: none;
//   }
// }
//
// .collection-item--embeded-cover {
//   position: relative;
//   display: flex;
//   flex: 0 0 auto;
//   background-color: $gray-300;
//   width: 16rem;
//   height: 9rem;
//   margin: 0 1.5rem 0 0;
//   border-radius: $border-radius-base;
//   overflow: hidden;
// }
//
// .collection-item--embeded-cover-image {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }
//
// .collection-item--embeded-cover-icon {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   font-family: $font-mi;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 2rem;
//   line-height: 2rem;
//   color: $gray-600;
// }
//
// .collection-item--embeded-content {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   padding: 1rem 0;
//   min-width: 0;
// }
//
// .collection-item--embeded-content-title {
//   font-weight: 500;
//   font-size: 1.5rem;
//   line-height: 1.75rem;
//   margin: 0 0 .5rem;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }
//
// .collection-item--embeded-content-description {
//   font-size: 1rem;
//   line-height: 1.25rem;
//   color: $gray-800;
//   height: 2.5rem;
//   margin: 0 0 1rem;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   display: -webkit-box;
//   -webkit-line-clamp: 2;
//   -webkit-box-orient: vertical;
//   text-overflow: -o-ellipsis-lastline;
// }
//
// .collection-item--embeded-details {
//   position: relative;
//   display: flex;
//   flex-direction: row;
//   list-style: none;
//   margin: 0;
//   padding: 0;
//
//   li {
//     font-size: .875rem;
//     line-height: 1.25rem;
//     color: $gray-600;
//   }
// }
