<div class="collection-item-new--container">
  <form (ngSubmit)="onItemSubmit()">

    <div class="collection-item-new--content">
      <div class="collection-item-new--content-wrapper">
        <h2 class="collection-item-new--content-title" *ngIf="mode == 'CREATE'">{{t._.item?.new_title}}</h2>
        <h2 class="collection-item-new--content-title" *ngIf="mode == 'UPDATE'">{{t._.item?.update_title}}</h2>

        <div class="collection-item-new--embeded-container" *ngIf="urlEntry && loadingContent">
          <div class="collection-item-new--embeded-centered-content">Fetching preview…</div>
        </div>

        <div class="collection-item-new--embeded-container" *ngIf="urlEntry && !loadingContent && !validUrl">
          <div class="collection-item-new--embeded-centered-content">Invalid URL</div>
        </div>

        <div class="collection-item-new--embeded-container" *ngIf="!loadingContent && item._content && validUrl">
          <div class="collection-item-new--embeded-container-header">
            <div class="collection-item-new--embeded-container-title">Item preview</div>
            <a class="collection-item-new--embeded-reset" href="javascript:void(0)" (click)="resetItemContent()">close</a>
          </div>

          <div class="collection-item">
            <tc-item-url *ngIf="item.type == itemTypes.URL.id" [item]=item ></tc-item-url>
            <tc-item-image *ngIf="item.type == itemTypes.IMAGE.id" [item]=item ></tc-item-image>
            <tc-item-tweet *ngIf="item.type == itemTypes.TWEET.id" [item]=item ></tc-item-tweet>
            <tc-item-youtube *ngIf="item.type == itemTypes.YOUTUBE.id" [item]=item ></tc-item-youtube>

            <div class="collection-item--size-control" *ngIf="item.type == itemTypes.URL.id">
              <a class="collection-item--size-control-button" href="javascript:void(0)" (click)="item.displayMode = 'MEDIUM'" *ngIf="item.displayMode == 'SMALL'">Small</a>
              <a class="collection-item--size-control-button" href="javascript:void(0)" (click)="item.displayMode = 'LARGE'" *ngIf="item.displayMode == 'MEDIUM'">Medium</a>
              <a class="collection-item--size-control-button reset" href="javascript:void(0)" (click)="item.displayMode = 'SMALL'" *ngIf="item.displayMode == 'LARGE'">Large</a>
            </div>

            <div class="collection-item--size-control" *ngIf="item.type == itemTypes.YOUTUBE.id || item.type == itemTypes.IMAGE.id || item.type == itemTypes.TWEET.id">
              <a class="collection-item--size-control-button" href="javascript:void(0)" (click)="item.displayMode = 'LARGE'" *ngIf="item.displayMode == 'SMALL'">Small</a>
              <a class="collection-item--size-control-button reset" href="javascript:void(0)" (click)="item.displayMode = 'SMALL'" *ngIf="item.displayMode == 'LARGE'">Large</a>
            </div>
          </div>

          <p class="collection-item-new--embeded-container-description mt-3">
            <strong>Pro tip:</strong> You can change the display format of this item by clicking on the bottom icon that appear when you hover it.
          </p>
        </div>

        <textarea
          class="collection-item-new--input-title"
          type="input"
          placeholder="{{t._.item?.new_placeholder_title}}"
          name="title"
          rows="1"
          [(ngModel)]="item.title"></textarea>

        <textarea
          class="collection-item-new--input-caption"
          (keydown)="onDescriptionKeyDown($event)"
          placeholder="{{t._.item?.new_placeholder_description}}"
          autofocus="autofocus"
          name="description"
          rows="11"
          (keydown)="onUrlKeyDown($event)"
          [(ngModel)]="item.description"
          (ngModelChange)="parseDescriptionForUrl()"
          ></textarea>
      </div>
    </div>

    <div class="collection-new-item--footer">

      <ul class="collection-new-item--footer-infos">
        <li class="collection-new-item--footer-info">
          <span class="icon">info</span>
          <span><a href="http://commonmark.org/help/" target="_blank" rel="nofollow">{{t._.item?.markdown_supported}}</a></span>
        </li>
      </ul>

      <div class="collection-new-item--footer-actions ml-auto">
        <a href="javascript:void(0)" *ngIf="mode == 'UPDATE'" (click)="cancelUpdate()" class="btn btn-secondary">{{t._.action?.cancel}}</a>
        <input
            *ngIf="mode == 'CREATE'"
            [disabled]="(!item.description && !item._content) || (urlEntry && !validUrl) || (loadingContent)"
            class="btn btn-primary" type="submit" value="{{t._.action?.add}}"/>
        <input
            *ngIf="mode == 'UPDATE'"
            [disabled]="(!item.description && !item._content) || (urlEntry && !validUrl) || (loadingContent)"
            class="btn btn-primary" type="submit" value="{{t._.action?.update}}"/>
      </div>

    </div>

  </form>
</div>
