<div class="collection-item-new--container" *ngIf="item">
  <form (ngSubmit)="onItemSubmit()">

    <div class="collection-item-new--content">
      <div class="collection-item-new--content-wrapper">
        <h2 class="collection-item-new--content-title" *ngIf="mode == 'CREATE'">
          <a href="javascript:void(0)" class="collection-item-new--content-title--cancel d-md-none" (click)="cancelUpdate()">{{t._.icon?.close?.filled}}</a>
          {{t._.item?.new_title}}
        </h2>
        <h2 class="collection-item-new--content-title" *ngIf="mode == 'UPDATE'">
          <a href="javascript:void(0)" class="collection-item-new--content-title--cancel d-md-none" (click)="cancelUpdate()">{{t._.icon?.close?.filled}}</a>
          {{t._.item?.update_title}}
        </h2>

        <div class="collection-item-new--embeded-container" *ngIf="urlEntry && loadingContent">
          <div class="collection-item-new--embeded-centered-content">{{ t._.item?.fetching_preview }}</div>
        </div>

        <div class="collection-item-new--embeded-container" *ngIf="urlEntry && !loadingContent && !validUrl">
          <div class="collection-item-new--embeded-centered-content">{{ t._.item?.invalid_url }}</div>
        </div>

        <div class="collection-item-new--embeded-container" *ngIf="!loadingContent && item._content && validUrl">
          <div class="collection-item-new--embeded-container-header">
            <div class="collection-item-new--embeded-container-title">{{ t._.item?.preview_title }}</div>
            <a class="collection-item-new--embeded-reset" href="javascript:void(0)" (click)="resetItemContent()">close</a>
          </div>

          <div class="collection-item-new--embeded-preview">
            <tc-item-url *ngIf="item.type == itemTypes.URL.id" [item]=item ></tc-item-url>
            <tc-item-image *ngIf="item.type == itemTypes.IMAGE.id" [item]=item ></tc-item-image>
            <tc-item-tweet *ngIf="item.type == itemTypes.TWEET.id" [item]=item ></tc-item-tweet>
            <tc-item-youtube *ngIf="item.type == itemTypes.YOUTUBE.id" [item]=item ></tc-item-youtube>
          </div>

          <div class="collection-item--display-modes" *ngIf="availableDisplayModes.length > 0">
            <span class="collection-item--display-modes-label">{{ t._.item?.display_mode_title }}</span>
            <a href="javascript:void(0)" class="collection-item--display-mode" [class.is-active]="item.displayMode == 'SMALL'" (click)="item.displayMode='SMALL'" *ngIf="availableDisplayModes.includes('SMALL')">S</a>
            <a href="javascript:void(0)" class="collection-item--display-mode" [class.is-active]="item.displayMode == 'MEDIUM'" (click)="item.displayMode='MEDIUM'" *ngIf="availableDisplayModes.includes('MEDIUM')">M</a>
            <a href="javascript:void(0)" class="collection-item--display-mode" [class.is-active]="item.displayMode == 'LARGE'" (click)="item.displayMode='LARGE'" *ngIf="availableDisplayModes.includes('LARGE')">L</a>
          </div>

          <p class="collection-item-new--embeded-container-description border-top pt-2">
            <strong>{{ t._.item?.display_tip_title }}</strong> {{ t._.item?.display_tip_desc }}
          </p>
        </div>

        <textarea
          class="collection-item-new--input-title"
          type="input"
          placeholder="{{t._.item?.new_placeholder_title}}"
          name="title"
          rows="1"
          [(ngModel)]="item.title"
          *ngIf="!loadingContent && item._content && validUrl"></textarea>

        <textarea
          class="collection-item-new--input-caption"
          (keydown)="onDescriptionKeyDown($event)"
          placeholder="{{t._.item?.new_placeholder_description}}"
          autofocus="autofocus"
          name="description"
          (keydown)="onUrlKeyDown($event)"
          [(ngModel)]="item.description"
          (ngModelChange)="parseDescriptionForUrl()"
          ></textarea>
      </div>
    </div>

    <div class="collection-new-item--footer">

      <ul class="collection-new-item--footer-infos">
        <li class="collection-new-item--footer-info">
          <span class="icon">{{ t._.icon?.info?.filled }}</span>
          <span><a href="http://commonmark.org/help/" target="_blank" rel="nofollow">{{t._.item?.markdown_supported}}</a></span>
        </li>
      </ul>

      <div class="collection-new-item--footer-actions">
        <a href="javascript:void(0)" class="btn btn-secondary d-none d-md-inline-flex" (click)="cancelUpdate()" *ngIf="mode == 'CREATE'">{{t._.action?.cancel}}</a>
        <a href="javascript:void(0)" class="btn btn-secondary d-none d-md-inline-flex" (click)="cancelUpdate()" *ngIf="mode == 'UPDATE'">{{t._.action?.discard}}</a>
        <input
            *ngIf="mode == 'CREATE'"
            [disabled]="(!item.description && !item._content) || (urlEntry && !validUrl) || (loadingContent)"
            class="btn btn-primary" type="submit" value="{{t._.action?.add}}"/>
        <input
            *ngIf="mode == 'UPDATE'"
            [disabled]="(!item.description && !item._content) || (urlEntry && !validUrl) || (loadingContent)"
            class="btn btn-primary" type="submit" value="{{t._.action?.save}}"/>
      </div>

    </div>

  </form>
</div>
