<div class="container" *ngIf="!isLoadingUser && user && user._id">
  <div class="profile-header">
    <div *ngIf="user" class="profile-avatar avatar avatar--140">
      <img *ngIf="user?._avatar" [src]="user?._avatar?.getPath('140x140')"  onError="this.style.display='none';" alt="{{user?.name}} avatar">
      {{user?.name.charAt(0)}}
    </div>
    <div class="profile-header-infos">
      <div class="profile-header-top">
        <div class="profile-infos-name">
          <h2 class="profile-name">{{user?.name}}</h2>
          <h3 class="profile-username">@{{user?.username}}</h3>
        </div>
        <div class="profile-infos-stats" >
          <div class="profile-stats-item" *ngIf="authService?.currentUser?.isGranted('ROLE_ADMIN')" (click)="impersonate()">
            Impersonate
          </div>
        </div>
        <!--<div class="profile-infos-stats">
          <div class="profile-stats-item">
            <span class="profile-stat-value">0</span>
            <span class="profile-stat-label">Collections</span>
          </div>
          <div class="profile-stats-item">
            <span class="profile-stat-value">0</span>
            <span class="profile-stat-label">Favorites</span>
          </div>
        </div>-->
      </div>
      <div class="profile-header-bottom">
        <p *ngIf="user?.bio" class="profile-infos-bio">{{user?.bio}}</p>
        <p *ngIf="!user?.bio" class="profile-infos-bio">{{t._.profile_public?.no_bio}}</p>
      </div>
    </div>
  </div>

  <div class="section" *ngIf="userCollections.length == 0 && userStarredCollections.length == 0">
    {{t._.profile_public?.empty}}
  </div>

  <div class="section" *ngIf="userCollections.length > 0">
    <h2 class="section-title">
      {{t._.collection?.last_public_title}}
      <a class="section-title-more" href="javascript:void(0)" [routerLink]="['/', user.username, 'c']" *ngIf="userCollections.length > 16">
          {{t._.action?.see_all}}
      </a>
    </h2>
    <div class="row">
      <tc-collection-card class="col-12 col-md-6 col-lg-4 col-xl-3" [collection]="collection" [sortable]="false" *ngFor="let collection of userCollections"></tc-collection-card>
    </div>
  </div>

  <div class="section" *ngIf="userStarredCollections.length > 0">
    <h2 class="section-title">
      {{t._.collection?.favorite_title}}
      <a class="section-title-more" href="javascript:void(0)" [routerLink]="['/', user.username, 'c', 'starred']" *ngIf="userStarredCollections.length > 16">
          {{t._.action?.see_all}}
      </a>
    </h2>

    <div class="row">
      <tc-collection-card class="col-12 col-md-6 col-lg-4 col-xl-3" [collection]="collection" [sortable]="false" *ngFor="let collection of userStarredCollections"></tc-collection-card>
    </div>
  </div>
</div>

<div class="container" *ngIf="!isLoadingUser && (!user || !user._id)">
    <section class="section">
      <h2 class="section-title dark-bg">Sorry cannot find user with username: "{{searchParams}}"</h2>
    </section>
</div>
