<div class="page-content container" *ngIf="user && user._id">

  <section class="page-heading">
    <h2 class="page-heading--title" *ngIf="!isCurrentUser">{{t.format(t._.collection?.belongs_to_title, [user.name])}}</h2>
    <h2 class="page-heading--title" *ngIf="isCurrentUser">{{t._.collection?.my_title}}</h2>
    <p class="page-heading--caption" *ngIf="!isCurrentUser">{{t._.dashboard?.page_caption}}</p>
    <p class="page-heading--caption" *ngIf="isCurrentUser">{{t._.dashboard?.page_caption}}</p>
  </section>

  <section class="page-section">
    <div class="page-collections-list" tc-sortable [list]=collections [ghostClass]="'collection-card--container card-ghost'" (itemMoved)="onCollectionMoved($event)">
      <tc-collection-card class="collection-card--container ui-state-default" [collection]="collection" [sortable]="isCurrentUser" [class.cancel-sort]="isUpdatingPosition" *ngFor="let collection of collections"></tc-collection-card>
    </div>

    <a href="javascript:void(0)" class="load-more mt-3" *ngIf="haveMoreCollections && !loadingCollections"(click)="loadNextPage()">{{t._.action?.load_more}}</a>
    <p class="loading-more mt-3" *ngIf="loadingCollections">{{t._.action?.loadind}}</p>
    <p class="no-more mt-3" *ngIf="!haveMoreCollections && pageNb > 0">{{t._.collection?.list_end}}</p>
  </section>

</div>
