<div class="application-content is-list-collection">
  <div class="container">

    <div class="section">
      <h2 class="section-title dark-bg">{{t._.collection?.featured_title}}</h2>
      <div class="row">

        <tc-collection-card class="col-12 col-md-6 col-lg-4 col-xl-3" [collection]="collection" [sortable]="false" *ngFor="let collection of collections"></tc-collection-card>

        <div class="col-12">
          <a href="javascript:void(0)" class="load-more" *ngIf="haveMoreCollections && !loadingCollections"(click)="loadNextPage()">{{t._.action?.load_more}}</a>
          <p class="loading-more" *ngIf="loadingCollections">{{t._.action?.loadind}}</p>
          <p class="no-more" *ngIf="!haveMoreCollections && pageNb > 0">{{t._.collection?.list_end}}</p>
        </div>
        
      </div>
    </div>

  </div>
</div>
