<div class="page-container is-list-collection">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto">
        <section class="section">
          <div class="section-header dark-bg">
            <h2 class="section-header--title">Admin</h2>
          </div>
          <div class="card">
            <div class="card-body">
              <a class="btn btn-primary btn-lg" [routerLink]="['/admin/featured']">Featured collections</a>
              <a class="btn btn-primary btn-lg" [routerLink]="['/admin/users']">Users</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
