@import '../styles/settings/_variables.scss';
@import '../styles/settings/_mixins.scss';

@import '../styles/settings/_bootstrap-variables.scss';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

:host {
    display: block;
    background-color: red;
}

// @import '../styles/app.scss';
// @import "../styles/settings/bootstrap-variables";
// @import "~bootstrap/scss/bootstrap";

.application-ui {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity .6s ease;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-feature-settings: 'liga';

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.has-cookies-flash {
    padding-bottom: 8.25rem;

    @include media-breakpoint-down(md) {
      padding-bottom: 3.5rem;
    }
  }
}

.application-header {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  z-index: 200;
}

.application-footer {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-top: auto;
  padding: 2rem 0;
  z-index: 200;

  @include media-breakpoint-down(md) {
    padding: 1rem 0 0;

    .container {
      margin-bottom: 3rem;
    }

    .navbar {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }
}

.application-flash {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 100vw;
  height: auto;
  padding: 2rem 0;
  bottom: 0;
  box-shadow: 0 .125rem 1.5rem rgba($black,.25);
  color: $gray-700;
  z-index: 300;

  @include media-breakpoint-down(md) {
    width: auto;
    left: .5rem;
    right: .5rem;
    padding: 2rem .5rem;
    border-radius: .125rem;
    margin-bottom: 4rem;
  }
}

.loading-icon {
  display: inline-flex;
  flex: 0 0 auto;
  font-family: $font-mi;
  font-weight: normal;
  font-size: inherit;
  font-style: normal;
  line-height: 1;
  color: $gray-600;
  white-space: nowrap;
  margin: 0 .25rem;
  text-decoration: none!important;
  vertical-align: middle;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  &:first-child {
    margin: 0 .25rem 0 0;
  }

  &:last-child {
    margin: 0 0 0 .25rem;
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}


// Page

.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 50;
  margin-top: 3rem;

  &.is-100vh {
    min-height: calc(100vh - 3rem);
  }
}

.page-header {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: $collection-grey;
  width: 100vw;
  height: 16rem;

  @include media-breakpoint-down(md) {
    height: 8rem;
  }

  &.is-color {
    height: 9.75rem;
    margin: 0 0 -9.75rem;

    &:after {
      content: "";
      position: absolute;
      background: linear-gradient(to bottom, rgba($white,.5), $white);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.page-content {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 1rem;

  @include media-breakpoint-down(md) {
    padding-top: 2rem;
  }

  &.is-100vh {
    min-height: calc(100vh - 3rem);
  }
}

.page-heading {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 3rem;

  @include media-breakpoint-down(md) {
    padding: 0 .75rem;
  }
}

.page-heading--title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  margin: 0 0 .5rem;

  @include media-breakpoint-down(md) {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

.page-heading--caption {
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin: 0;
}

.page-heading--metas {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 0 1.5rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
}

.page-heading--meta {
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: row;

  &.is-muted {
    color: $gray-600;
  }

  &:not(:last-child) {
    &:after {
      content: "·";
      color: $gray-600;
      margin: 0 .25rem;
    }
  }
}

.page-heading--metas {
  .thumbnail:not(:first-child) {
    margin-left: -.625rem;
  }
}

.page-heading--actions {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
}

.page-section {
  margin: 0;

  &:not(:last-child) {
    margin: 0 0 3rem;
  }

  @include media-breakpoint-down(md) {
    padding: 0 .75rem;
  }
}

.page-section {
  h3 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin: 0 0 .5rem;
  }
}

.page-section--heading {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 .5rem;
}

.page-section--heading--title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 0;

  @include media-breakpoint-down(md) {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

.page-section--heading--subtitle {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: .5rem 0 0;
}

.page-section--heading--more {
  position: relative;
  display: flex;
  font-family: $font-brand;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  color: $gray-600;
  margin: 0 0 0 auto;
  align-items: center;

  &:hover {
    text-decoration: none;
    color: $gray-900;

    &:after {
      transform: translateX(.125rem);
    }
  }

  &:after {
    content: "chevron_right";
    font-family: $font-mi;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1rem;
    margin: .125rem 0 0;
    transition: transform .3s ease;
  }
}

.page-collections-list {
  margin-right: -1rem;
  margin-left: -1rem;
}


// Navbar

.nav-link {
  position: relative;
  display: flex;
  background-color: transparent;
  font-family: $font-brand;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  color: $gray-600;
  padding: .25rem .5rem;
  margin: 0;
  border-radius: $border-radius-base;

  &:not(:last-child) {
    margin: 0 .25rem 0 0;
  }

  &:hover, &:focus {
    background-color: $gray-075;
    color: $gray-600;
  }

  &:active {
    background-color: $gray-300;
    color: $gray-600;
  }

  &.active {
    color: $brand-primary;

    &:hover, &:focus {
      background-color: rgba($brand-primary, .1);
    }

    &:active {
      background-color: rgba($brand-primary, .25);
    }
  }

  &.cta {
    line-height: 1.875rem;
    padding: 0 .75rem;
    color: $brand-primary;
    border: 1px solid $brand-primary;
    margin-top: .25rem;
    margin-bottom: .25rem;

    &:hover, &:focus {
      background-color: rgba($brand-primary, .1);
    }

    &:active {
      background-color: rgba($brand-primary, .25);
    }
  }

  .icon {
    font-family: $font-mi;
    font-weight: normal;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 2rem;
    margin: 0 -.5rem;
    text-decoration: none;
  }
}

.nav-link--avatar {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  margin: 0 -.25rem 0 .5rem;
}
