<main class="application-ui" [class.is-hidden]="!authService.authInitialized || !t.langInitialized">

  <div class="application-flash"></div>

  <div class="application-container">

    <tc-header class="application-header"></tc-header>

    <router-outlet></router-outlet>

    <div *ngIf="authService.showCookieConsent" style="z-index: 99999; width: 100%; height: 100px; bottom: 0; position: fixed; background-color: grey">
      <input type="submit" value="Accept" class="btn btn-sm" (click)="authService.acceptCookieConcent()" />
    </div>

    <tc-footer class="application-footer" *ngIf="!headerService.noHeader && !headerService.noFooter"></tc-footer>

  </div>

</main>
