<main class="application-ui" [class.is-hidden]="!authService.authInitialized || !t.langInitialized" [class.has-cookies-flash]="authService.showCookieConsent">

  <tc-header class="application-header"></tc-header>

  <router-outlet></router-outlet>

  <tc-footer class="application-footer" *ngIf="!headerService.noHeader && !headerService.noFooter"></tc-footer>

  <div class="application-flash" *ngIf="authService.showCookieConsent">
    <div class="container">
      <p>
        {{t._.flash?.cookies_consent?.content}}
        <a href="https://cookiesandyou.com/" target="_blank" rel="nofollow">{{t._.flash?.cookies_consent?.learn_more}}</a>
      </p>
      <input type="submit" value="{{t._.action?.accept}}" class="btn btn-sm btn-primary" (click)="authService.acceptCookieConcent()" />
    </div>
  </div>

</main>
