<article class="card card-collection create-collection not-hoverable"
        [class.has-thumbnail]="collection._thumbnail != empty"
        [style.background-color]="'#'+collection.color">
  <form (ngSubmit)="onCollectionSubmit()" ngNativeValidate>

    <div class="card-collection--container">

      <div class="card-collection--content">

        <input class="input-card-collection--title card-collection--title"
          (focus)="onCollectionFocus()"
          [(ngModel)]="collection.title"
          name="title"
          type="text" placeholder="{{t._.collection_create?.title_placeholder}}" required/>
        <textarea class="input-card-collection--caption card-collection--caption"
          (focus)="onCollectionFocus()"
          [(ngModel)]="collection.bio"
          [ngModelOptions]="{standalone: true}"
          name="bio"
          name="" id="" placeholder="{{t._.collection_create?.caption_placeholder}}">
        </textarea>

        <div class="card-collection--details" *ngIf="mode != 'CREATE_SUB_COLLECTION'">
          <button class="card-collection--visibility dropdown-toggle" [class.is-hidden]="!actionIntent" *ngIf="t._.collection?.visibility" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon">remove_red_eye</span>
            <span>{{t._.collection?.visibility?.title}}: {{t._.collection?.visibility[collection.visibility]?.title}}</span>
          </button>
          <div class="dropdown-menu">
            <h6 class="dropdown-header">{{t._.collection_create?.visibility_dropdow_title}}</h6>
            <a href="javascript:void(0)" (click)="collection.visibility=visibilityList.PRIVATE.id" class="dropdown-item">
              <span>{{t._.collection?.visibility?.PRIVATE?.title}}</span>
              <small>{{t._.collection?.visibility?.PRIVATE?.subtitle}}</small>
            </a>
            <a href="javascript:void(0)" (click)="collection.visibility=visibilityList.PUBLIC.id" class="dropdown-item">
              <span>{{t._.collection?.visibility?.PUBLIC?.title}}</span>
              <small>{{t._.collection?.visibility?.PUBLIC?.subtitle}}</small>
            </a>
            <a href="javascript:void(0)" (click)="collection.visibility=visibilityList.UNINDEXED.id" class="dropdown-item">
              <span>{{t._.collection?.visibility?.UNINDEXED?.title}}</span>
              <small>{{t._.collection?.visibility?.UNINDEXED?.subtitle}}</small>
            </a>
          </div>
        </div>

        <div class="card-collection--background is-thumbnail" *ngIf="collection._thumbnail">
          <img [src]="collection._thumbnail?.getPath('300x250')" />
        </div>

      </div>

      <div class="card-collection--create-footer">
        <div class="card-collection--create" [class.is-hidden]="!actionIntent">
          <div class="btn-group form-action dropup">
            <button class="card-collection--action-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="icon">palette</span>
            </button>
            <div class="dropdown-menu dropdown-menu-color">
              <a
                href="javascript:void(0)"
                (click)="clickColor('CFD8DC')"
                [class.selected]="collection.color=='CFD8DC'"
                class="dropdown-item-color collection-color-grey"
              >
                Grey
              </a>
              <a
                href="javascript:void(0)"
                (click)="clickColor('FF887A')"
                [class.selected]="collection.color=='FF887A'"
                class="dropdown-item-color collection-color-red"
              >
                Red
              </a>
              <a
                href="javascript:void(0)"
                (click)="clickColor('FFD373')"
                [class.selected]="collection.color=='FFD373'"
                class="dropdown-item-color collection-color-orange"
              >
                Orange
              </a>
              <a
                href="javascript:void(0)"
                (click)="clickColor('FFFF7C')"
                [class.selected]="collection.color=='FFFF7C'"
                class="dropdown-item-color collection-color-yellow"
              >
                Yellow
              </a>
              <a
                href="javascript:void(0)"
                (click)="clickColor('A4ABFF')"
                [class.selected]="collection.color=='A4ABFF'"
                class="dropdown-item-color collection-color-purple"
              >
                Purple
              </a>
              <a
                href="javascript:void(0)"
                (click)="clickColor('78D6FF')"
                [class.selected]="collection.color=='78D6FF'"
                class="dropdown-item-color collection-color-blue"
              >
                  Blue
              </a>
              <a
                href="javascript:void(0)"
                (click)="clickColor('A4FFEB')"
                [class.selected]="collection.color=='A4FFEB'"
                class="dropdown-item-color collection-color-cyan"
              >
                Cyan
              </a>
              <a
                href="javascript:void(0)"
                (click)="clickColor('CBFF8A')"
                [class.selected]="collection.color=='CBFF8A'"
                class="dropdown-item-color collection-color-green"
              >
                Green
              </a>
            </div>
          </div>

          <div class="card-collection--action-btn custom-file file form-action">
            <input (change)="onThumbnailFileChange($event)" [uploader]="uploader" class="custom-file-input" [attr.id]="'avatar_file_'+collection._id" name="file" ng2FileSelect type="file">
            <label class="icon" [attr.for]="'avatar_file_'+collection._id">
              photo
            </label>
          </div>

          <button class="card-collection--btn ml-auto" *ngIf="mode == 'CREATE'" type="submit">
            <span>{{t._.action?.create}}</span>
          </button>

          <button class="card-collection--btn ml-auto" *ngIf="mode == 'CREATE_SUB_COLLECTION'" type="submit">
            <span>Create sub collection</span>
          </button>

          <button class="card-collection--btn ml-auto" *ngIf="mode == 'UPDATE'" type="submit">
            <span>{{t._.action?.update}}</span>
          </button>
        </div>
      </div>
    </div>

  </form>
</article>
