<div class="collection-form--container">
  <form (ngSubmit)="onCollectionSubmit()" ngNativeValidate>

    <div class="collection-form--content">
      <div class="collection-form--content-wrapper">
        <h2 class="collection-form--content-title">
          <a href="javascript:void(0)" class="collection-form--content-title--cancel d-md-none" (click)="cancelCollectionUpdate()">{{t._.icon?.close?.filled}}</a>
          {{t._.collection?.modal.new?.title}}
        </h2>

        <textarea
          class="collection-form--input-title"
          type="input"
          placeholder="{{t._.collection?.modal?.title_placeholder}}"
          autofocus="autofocus"
          name="title"
          rows="1"
          [(ngModel)]="collection.title"
          required
        ></textarea>

        <textarea
          class="collection-form--input-caption"
          placeholder="{{t._.collection?.modal?.caption_placeholder}}"
          name="bio"
          id=""
          rows="11"
          [(ngModel)]="collection.bio"
          [ngModelOptions]="{standalone: true}"
        ></textarea>

        <div class="collection-form--details">

          <ul class="collection-form--colors">
            <li>
              <a href="javascript:void(0)" class="collection-form--image">
                <input (change)="onThumbnailFileChange($event)" [uploader]="uploader" class="collection-form--image-input" [attr.id]="'avatar_file_'+collection._id" name="file" ng2FileSelect type="file">
                <span class="collection-form--image-uploader" *ngIf="!collection._thumbnail && !isUploadingImage">cloud_download</span>
                <span class="collection-form--image-uploader loading-icon" *ngIf="isUploadingImage">{{t._.icon?.waiting?.filled}}</span>
                <span class="collection-form--image-preview" *ngIf="collection._thumbnail && !isUploadingImage">
                  <img [src]="collection._thumbnail?.getPath('96x96')" />
                </span>
                <label class="collection-form--image-label" [attr.for]="'avatar_file_'+collection._id" *ngIf="!collection._thumbnail && !isUploadingImage">{{t._.collection?.action?.upload_img}}</label>
                <label class="collection-form--image-label" [attr.for]="'avatar_file_'+collection._id" *ngIf="isUploadingImage">{{t._.collection?.action?.uploading_img}}</label>
                <label class="collection-form--image-label" [attr.for]="'avatar_file_'+collection._id" *ngIf="collection._thumbnail && !isUploadingImage">{{t._.collection?.action?.replace_img}}</label>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="clickColor('CFD8DC')" [class.selected]="collection.color=='CFD8DC'" class="collection-form--color collection-color-grey">Grey</a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="clickColor('A4ABFF')" [class.selected]="collection.color=='A4ABFF'" class="collection-form--color collection-color-purple">Purple</a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="clickColor('78D6FF')" [class.selected]="collection.color=='78D6FF'" class="collection-form--color collection-color-blue">Blue</a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="clickColor('A4FFEB')" [class.selected]="collection.color=='A4FFEB'" class="collection-form--color collection-color-cyan">Cyan</a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="clickColor('CBFF8A')" [class.selected]="collection.color=='CBFF8A'" class="collection-form--color collection-color-green">Green</a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="clickColor('FFFF7C')" [class.selected]="collection.color=='FFFF7C'" class="collection-form--color collection-color-yellow">Yellow</a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="clickColor('FFD373')" [class.selected]="collection.color=='FFD373'" class="collection-form--color collection-color-orange">Orange</a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="clickColor('FF887A')" [class.selected]="collection.color=='FF887A'" class="collection-form--color collection-color-red">Red</a>
            </li>
          </ul>

          <div class="collection-form--visibility dropup">
            <button class="collection-form--visibility-dropdown dropdown-toggle" [class.is-hidden]="!actionIntent" *ngIf="t._.collection?.visibility" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="icon">{{ t._.icon?.visibility?.filled }}</span>
              <span>{{t._.collection?.visibility?.title}}: {{t._.collection?.visibility[collection.visibility]?.title}}</span>
            </button>
            <div class="dropdown-menu">
              <h6 class="dropdown-header">{{t._.collection_create?.visibility_dropdown_title}}</h6>
              <a href="javascript:void(0)" (click)="collection.visibility=visibilityList.PRIVATE.id" class="dropdown-item">
                <span>{{t._.collection?.visibility?.PRIVATE?.title}}</span>
                <small>{{t._.collection?.visibility?.PRIVATE?.subtitle}}</small>
              </a>
              <a href="javascript:void(0)" (click)="collection.visibility=visibilityList.PUBLIC.id" class="dropdown-item">
                <span>{{t._.collection?.visibility?.PUBLIC?.title}}</span>
                <small>{{t._.collection?.visibility?.PUBLIC?.subtitle}}</small>
              </a>
              <a href="javascript:void(0)" (click)="collection.visibility=visibilityList.UNINDEXED.id" class="dropdown-item">
                <span>{{t._.collection?.visibility?.UNINDEXED?.title}}</span>
                <small>{{t._.collection?.visibility?.UNINDEXED?.subtitle}}</small>
              </a>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="collection-form--footer">

      <div class="collection-form--footer-actions">
        <a href="javascript:void(0)" class="btn btn-secondary d-none d-md-inline-flex" (click)="cancelCollectionUpdate()">{{t._.action?.discard}}</a>
        <input
          *ngIf="mode == 'CREATE'"
          class="btn btn-primary" type="submit" value="{{t._.action?.create}}"/>
        <input
          *ngIf="mode == 'CREATE_SUB_COLLECTION'"
          class="btn btn-primary" type="submit" value="Create sub collection"/>
        <input
          *ngIf="mode == 'UPDATE'"
          class="btn btn-primary" type="submit" value="{{t._.action?.save}}"/>
      </div>

    </div>

  </form>
</div>
