<div class="application-content is-list-collection">
  <div class="container">

    <div class="section" *ngIf="user && user._id">
      <div class="section-header dark-bg">
        <h2 class="section-header--title" *ngIf="!isCurrentUser">{{t.format(t._.collection?.favorite_by_title, [user.name])}}</h2>
        <h2 class="section-header--title" *ngIf="isCurrentUser">{{t._.collection?.my_favorite_title}}</h2>
      </div>

      <div class="row">

        <tc-collection-card class="col-12 col-md-6 col-lg-4 col-xl-3" [collection]="collection" [sortable]="false" *ngFor="let collection of collections"></tc-collection-card>

        <div class="col-12">
          <a href="javascript:void(0)" class="load-more" *ngIf="haveMoreCollections && !loadingCollections"(click)="loadNextPage()">{{t._.action?.load_more}}</a>
          <p class="loading-more" *ngIf="loadingCollections">{{t._.action?.loadind}}</p>
          <p class="no-more" *ngIf="!haveMoreCollections && pageNb > 0">{{t._.collection?.list_end}}</p>
        </div>

      </div>
    </div>

  </div>
</div>
