/* ==========================================================================
   COLLECTION CARD COMPONENT
   ========================================================================== */

@import '../../../styles/settings/_variables.scss';
@import '../../../styles/settings/_mixins.scss';

@import '../../../styles/settings/_bootstrap-variables.scss';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.collection-card {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: translate;
  padding: 0;
  margin: 0;
  color: $gray-900;

  &:hover, &:focus, &:active {
    text-decoration: none;
    color: $gray-900;

    .collection-card--cover img {
      transform: scale(1.1, 1.1);
    }

    .collection-card--drag-handle {
      opacity: 1;
    }
  }
}

.collection-card--content {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  background-color: $white;
  padding: .5rem;
  border-radius: $border-radius-base;
  color: inherit;
  transition: background-color .3s ease;

  @include media-breakpoint-up(md) {
    flex-direction: column;
  }

  &:hover, &:focus, &:active {
    background-color: $gray-100;
    text-decoration: none;
    color: inherit;
  }
}

.collection-card--cover {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 6rem;
  height: 3rem;
  margin: 0 .25rem 0 0;
  border-radius: $border-radius-base;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    width: 100%;
    height: 8rem;
    margin: 0 0 .25rem;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba($black, .1);
    width: 100%;
    height: 100%;
    border-radius: $border-radius-base;
    pointer-events: none;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 3s ease;
  }
}

.collection-card--infos {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0 .5rem;

  @include media-breakpoint-up(md) {
    flex: 0 0 auto;
    padding: .5rem .25rem;
  }
}

.collection-card--infos--title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin: 0 0 .25rem;
}

.collection-card--infos--metas {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  list-style: none;
  font-size: .875rem;
  line-height: 1rem;
  padding: 0;
  margin: 0;
}

.collection-card--infos--tag {
  position: relative;
  display: flex;
  color: $gray-600;
  margin: 0;

  &:not(:last-child) {
    &:after {
      content: "·";
      color: inherit;
      margin: 0 .25rem;
      color: $gray-600;
    }
  }

  &.has-visibility {
    color: $gray-800;

    .icon {
      color: $gray-600;
    }
  }

  &.is-featured {
    color: $brand-primary;
  }

  .icon {
    font-family: $font-mi;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1rem;
    white-space: nowrap;
    margin: 0 .25rem 0 0;
  }
}

.collection-card--drag-handle {
  position: absolute;
  display: flex;
  z-index: 2;
  background: $white;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  top: -.5rem;
  right: -.5rem;
  color: $black-light;
  box-shadow: 0 1px 4px $hover-dark-color;
  cursor: move;
  opacity: 0;
  transition: .3s ease opacity;

  .move-item-button {
    pointer-events: none;
  }
}
