/* ==========================================================================
   COLLECTION PAGE COMPONENT
   ========================================================================== */

   @import '../../../styles/settings/_variables.scss';
   @import '../../../styles/settings/_mixins.scss';

   @import '../../../styles/settings/_bootstrap-variables.scss';
   @import "~bootstrap/scss/functions";
   @import "~bootstrap/scss/variables";
   @import "~bootstrap/scss/mixins";

// Page Heading

.page-heading--visibility {
  position: relative;
  display: inline-block;
  line-height: 1.5rem;

  &.is-featured {
    color: $brand-primary;

    &:hover, &:active, &:focus {
      text-decoration: none;
    }

    .icon {
      color: inherit;
    }
  }

  &:not(:last-child) {
    &:after {
      content: "·";
      color: $gray-600;
      margin: 0;
    }
  }

  .icon {
    font-family: $font-mi;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.5rem;
    margin: 0;
    color: $gray-600;
    vertical-align: top;
  }
}

.collection-new-item {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  padding: 0 .75rem;
  margin: 0 0 .5rem;
  color: $gray-600;
  font-size: 1rem;
  font-weight: normal;
  line-height: 2rem;
  border-radius: $border-radius-base;
  transition: .3s ease;

  &:hover, &:active, &:focus {
    background-color: $gray-100;
    text-decoration: none;
  }

  .icon {
    font-family: $font-mi;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 2rem;
    margin: 0 .25rem 0 0;
    color: $gray-600;
    vertical-align: top;
  }
}

.collection-new-item-fab {
  position: fixed;
  display: flex;
  background-color: $brand-primary;
  width: 3.5rem;
  height: 3.5rem;
  color: $white;
  padding: .75rem;
  bottom: 4rem;
  border-radius: 50%;
  box-shadow: 0 .25rem 1rem rgba($black,.5);
  right: 1rem;
  z-index: 300;

  &:hover, &:active, &focus {
    text-decoration: none;
  }

  .icon {
    font-family: $font-mi;
    font-size: 2rem;
    font-weight: normal;
    line-height: 2rem;
    margin: 0;
    color: $white;
  }
}


// COLLECTION LIST

.collection-container--list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 -.75rem;

  @include media-breakpoint-down(md) {
    margin: 0 -1rem;
  }
}

.collection--load-more {
  width: 100%;
  max-width: 50.1875rem;
  margin: 0 auto;
}

.collection-container--footer,
.collection-container--footer-section {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.collection-container--footer-section {
  width: 100%;
  max-width: 50.1875rem;
  padding: 1.5rem 0;
  margin: 0 auto;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.collection-container--footer-section-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 0 0 .25rem;
}

.collection-container--footer-actions {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
}

.collection-container--footer-fav,
.collection-container--footer-share {
  position: relative;
  display: flex;
  flex-direction: row;
}

.collection-container--footer-fav-count {
  font-size: .875rem;
  line-height: 2.375rem;
  color: $gray-600;
  margin: 0 1rem;
}

.collection-container--footer-share {
  padding: 0;
  margin: 0 0 0 auto;
  list-style: none;
}

.collection-container--footer-share-icon {
  position: relative;
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2.375rem;
  padding: 0 .25rem;
  font: 0/0 a;
  color: $gray-600;
  text-decoration: none;

  &:hover {
    color: $gray-800;
    text-decoration: none;
  }

  &:before {
    content: "";
    font-family: $font-icons;
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  &.is-twitter:before {
    content: "🐥";
  }

  &.is-facebook:before {
    content: "👁";
  }
}

.collection-container--footer-author {
  position: relative;
  display: flex;
  flex-direction: row;
}

.collection-container--footer-author-infos {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 0 0 0 1rem;
  justify-content: center;
}

.collection-container--footer-author-title {
  height: 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: .25rem 0;

  & + p {
    margin: 0;
  }
}

.collection-container--footer-collaborators {
  margin: 1rem 0 0;
  display: table;

  a {
    font-weight: 500;
  }
}
