/* ==========================================================================
   COLLECTION PAGE COMPONENT
   ========================================================================== */

@import '../../../styles/settings/_variables.scss';
@import '../../../styles/settings/_mixins.scss';


.collection-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 0;
  border-radius: $border-radius-base;
  box-shadow: 0 .125rem .25rem $box-shadow-color;
  transition: min-height .4s ease;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s ease;
    transition-delay: .2s;
  }
}

.page-headings + .collection-container {
  transition-delay: .2s;

  &.is-hidden {
    transition-delay: 0s;
  }
}

// COLLECTION HEADER

.collection-container--header {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 .5rem;
  margin: 0 0 1rem;
}

.collection-container--publication {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 2 1 auto;
  width: 100%;
}

.collection-container--publication-infos {
  line-height: 2rem;
  color: $gray-900;
  margin: 0 .5rem;

  a {
    font-weight: 600;
  }
}

.collection-container--stats {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  line-height: 2rem;
  margin: 0 0 0 1.5rem;
}

.collection-container--stats-list {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.collection-container--stats-item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;

  &.visibility {
    padding: 0 0 0 .5rem;

    &:before {
      position: absolute;
      content: "";
      background: linear-gradient(to bottom, rgba($black, 0) 0rem, rgba($black, .15) .5rem, rgba($black, .15) 1.5rem, rgba($black, 0) 2rem);
      width: 1px;
      height: 2rem;
      top: 0;
      left: 0;
    }
  }
}

.collection-container--stats-item + .collection-container--stats-item {
  margin-left: .5rem;

  &.visibility {
    margin-left: .7rem;
  }
}

.collection-container--stats-button {
  position: relative;
  display: flex;
  background-color: $gray-050;
  color: $gray-800;
  text-decoration: none;
  border-radius: $border-radius-small;
  padding: 0 .625rem 0 .5rem;

  &:hover {
    background-color: $gray-200;
  }

  &:active {
    background-color: $gray-400;
  }
}

.collection-container--stats-icon {
  position: relative;
  display: flex;
  font-family: $font-mi;
  font-size: 1.125rem;
  line-height: 2rem;
  margin: 0 .25rem 0 0;
  color: $gray-600;

  &.is-highlighted {
    color: $yellow;
  }
}

.collection-container--stats-actions {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 .5rem;
}

.collection-container--stats-action .btn-icon-narrow {
  color: $gray-600;
  padding: .375rem 0;
}

.collection-container--stats-action + .collection-container--stats-action {
  height: 2rem;
  margin-left: .25rem;
}

// COLLECTION LIST

.collection-container--list {
  position: relative;
  display: flex;
  flex-direction: column;
}
