<div class="application-content is-page" *ngIf="!isLoadingCollection && collection && collection._id">
  <div class="container">

    <div class="page-headings is-hidden" id="collectionDetailHeader">

      <a href="javascript:void(0)" [routerLink]="['/c/featured']" class="page-headings--page-pre-title is-featured" *ngIf="collection.isFeatured">
        <span class="icon">{{ t._.icon?.featured?.filled }}</span>
        <span>{{ t._.collection?.featured_title }}</span>
      </a>
      <h2 class="page-headings--page-title">{{collection.title}}</h2>
      <p class="page-headings--page-description" *ngIf="collection.bio">{{collection.bio}}</p>

    </div>

    <!-- <div *ngIf="collection.depth > 0">
      <span *ngFor="let collection of collection._parents">
        <a [routerLink]="['/c', collection._id]" href="javascript:void(0)">{{collection.title}}</a>
      </span>
      <span>{{collection.title}}</span>
    </div> -->

    <div class="collection-container">
      <div class="collection-container--header">

        <div class="collection-container--publication">

          <div class="collection-container--thumbnail avatar avatar--32">
            <a href="javascript:void(0)" title="{{collection._author?.name}}" [routerLink]="['/', collection._author.username]">
              <img *ngIf="collection._author._avatar" [src]="collection._author._avatar.getPath('60x60')" onError="this.style.display='none';" alt="{{collection._author?.name}} avatar">
              <span class="avatar-char">{{collection._author.name.charAt(0)}}</span>
            </a>
          </div>

          <p class="collection-container--publication-infos">
            <span class="d-none d-md-inline">{{t._.collection?.by_title}}</span> <a href="javascript:void(0)" title="{{collection._author?.name}}" [routerLink]="['/', collection._author.username]">{{collection._author?.name}}</a> <span class="muted d-none d-md-inline">{{t._.word?.date_on}} <span [attr.title]="collection.createdAt | date:'EEEE, LLLL dd, y h:mm a'">{{collection.createdAt | date }}</span><span class="small d-none d-md-inline" title="{{collection.modifiedAt | date }}" *ngIf="collection.modifiedAt">(edited)</span></span>
          </p>

        </div>

        <div class="collection-container--stats">
          <ul class="collection-container--stats-list">
            <!-- <li class="collection-container--stats-item muted" (click)="updateDisplayMode()">
              {{collection.displayMode}}
            </li> -->
            <li class="collection-container--stats-item muted" *ngIf="collection.itemsCount == 1">
              {{collection.itemsCount}} {{t._.collection?.item_sing}}
            </li>
            <li class="collection-container--stats-item muted" *ngIf="collection.itemsCount > 1 || collection.itemsCount == 0">
              {{collection.itemsCount}} {{t._.collection?.item_plur}}
            </li>
            <li class="collection-container--stats-item" *ngIf="collection.visibility != 'PRIVATE'">
              <a href="javascript:void(0)" class="collection-container--stats-button" (click)="onStarCliked()">
                <span class="collection-container--stats-icon is-highlighted" *ngIf="collection._star">{{ t._.icon?.favorite?.filled }}</span>
                <span class="collection-container--stats-icon" *ngIf="!collection._star">{{ t._.icon?.favorite?.border }}</span>
                <span>{{collection.starsCount}}</span>
              </a>
            </li>
            <li class="collection-container--stats-item visibility mr-2" *ngIf="collection.visibility == 'UNINDEXED'">
              <span class="collection-container--stats-icon">{{ t._.icon?.unindexed_collection?.filled }}</span>
              <span class="muted">{{ t._.collection?.visibility[collection.visibility].title}}</span>
            </li>
            <li class="collection-container--stats-item visibility mr-2" *ngIf="collection.visibility == 'PRIVATE'">
              <span class="collection-container--stats-icon">{{ t._.icon?.private_collection?.filled }}</span>
              <span class="muted">{{ t._.collection?.visibility[collection.visibility].title}}</span>
            </li>

          </ul>

          <div class="collection-container--stats-actions" *ngIf="isAuthor">
            <button type="button" class="collection-container--stats-action btn btn-primary btn-sm" (click)="openModal(newItemModal, 'lg')">
              {{t._.collection?.new_item_button}}
            </button>

            <div class="collection-container--stats-action dropdown">
              <a class="btn btn-secondary btn-icon btn-icon-narrow btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="icon">{{ t._.icon?.more?.filled }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a href="javascript:void(0)" class="dropdown-item" (click)="openModal(updateCollectionModal, 'lg')">{{t._.action?.edit}}</a>
                <a href="javascript:void(0)" class="dropdown-item" (click)="openDeleteCollectionModal(collectionDeleteModal)">{{t._.action?.delete}}</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="collection-container--list" *ngIf="itemLoaded && collection._items.length == 0">

        <div class="collection-item is-empty" *ngIf="isAuthor">
          <div class="collection-item--content collection-item--empty-phase">
            <img class="collection-item--empty-image" src="assets/img/illustration-empty--send-new.png" />
            <h3 class="collection-item--empty-title">{{t._.item?.new_title}}</h3>
            <p class="collection-item--empty-caption">
              {{t._.collection?.first_item_caption}}
            </p>
            <ul class="collection-item--empty-actions">
              <li class="collection-item--empty-action">
                <button type="button" class="btn btn-primary" (click)="openModal(newItemModal, 'lg')">
                  {{t._.collection?.first_item_button}}
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div class="collection-item is-empty" *ngIf="!isAuthor">
          <div class="collection-item--content collection-item--empty-phase">
            <img class="collection-item--empty-image" src="assets/img/illustration-empty--send-new.png" />
            <h3 class="collection-item--empty-title">{{t._.collection?.empty_title}}</h3>
            <p class="collection-item--empty-caption">
              {{t._.collection?.empty_caption}}
            </p>
          </div>
        </div>

      </div>

      <div class="collection-container--list" tc-sortable [list]=collection._items [ghostClass]="'collection-item-ghost'" (itemMoved)="onItemMoved($event)" *ngIf="itemLoaded && collection._items.length > 0">
        <tc-item class="ui-state-default collection-item--container" [item]=item [isAuthor]=isAuthor (deletedItem)="onDeletedItem($event)" *ngFor="let item of collection._items"></tc-item>
      </div>

      <div class="collection-container--footer" *ngIf="itemLoaded && collection._items.length > 0">

        <a href="javascript:void(0)" class="btn btn-secondary btn-block" *ngIf="itemLoaded && haveMoreItems && !loadingItems" (click)="loadNextPage()">{{t._.action?.load_more}}</a>
        <p class="loading-more" *ngIf="loadingItems">{{t._.action?.loading}}</p>
        <p class="no-more" *ngIf="!haveMoreItems && pageNb > 0">{{t._.collection?.item_list_end}}</p>

      </div>

    </div>

  </div>
</div>

<!--<tc-collection-create *ngIf="isAuthor" [parentCollection]="collection" (newCollection)="onSubCollectionCreated($event)"></tc-collection-create>-->
<!-- TODO: @Olivier Peut-être déplacer ces 2 pages dans tc-page et rediriger dessus ? -->

<div class="application-content is-error" *ngIf="!isLoadingCollection && (!collection || !collection._id) && !cantFoundButwasStarred">
  <div class="container">

  	<div class="page-container">
  		<div class="page-content row" id="pageContent">
  			<div class="col-12 col-md-8 mx-auto">

  				<img style="display:block;width:100%;max-width:24rem;margin:2rem auto -3rem;" src="assets/img/illustration-empty--send-new.png" />
          <h4 class="text-center">{{ t._.page?.error?.title }}</h4>
          <p class="text-center"><strong>{{ t._.page?.error?.what_happened }}</strong> {{ t._.page?.error?.content_not_found }} “{{ searchParams }}”</p>
  				<div class="text-center pb-5">
            <a class="btn btn-primary" routerLinkActive="active" [routerLink]="['/dashboard']" *ngIf="authService.isLoggedIn">{{ t._.page?.error?.button?.back_dashboard }}</a>
            <a class="btn btn-primary" routerLinkActive="active" [routerLink]="['/discover']" *ngIf="!authService.isLoggedIn">{{ t._.page?.error?.button?.back_discover }}</a>
  				</div>
          <!-- TODO: ajouter un lien pour aller s'inscire (un peu joli et tout) -->
  			</div>
  		</div>
  	</div>

	</div>
</div>

<div class="application-content" *ngIf="!isLoadingCollection && cantFoundButwasStarred">
  <div class="container is-error">

  	<div class="page-container">
  		<div class="page-content row" id="pageContent">
  			<div class="col-12 col-md-8 mx-auto">

  				<img style="display:block;width:100%;max-width:24rem;margin:2rem auto -3rem;" src="assets/img/illustration-empty--send-new.png" />
          <h4 class="text-center">{{ t._.page?.error?.title }}</h4>
          <p class="text-center"><strong>{{ t._.page?.error?.what_happened }}</strong> {{ t._.page?.error?.content_not_found_fav }}</p>
  				<div class="text-center pb-5">
            <a class="btn btn-primary" routerLinkActive="active" [routerLink]="['/dashboard']">{{ t._.page?.error?.button?.back_dashboard }}</a>
            <span class="mx-2">{{ t._.word?.or }}</span>
            <input class="btn btn-outline-danger" (click)="removeStarredCollection(true)" value="{{ t._.page?.error?.button?.remove_fav }}" type="submit"/>
  				</div>
  			</div>
  		</div>
  	</div>

	</div>
</div>

<!-- Modals -->
<ng-template class="default-modal" #collectionDeleteModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">{{t._.collection.modal.delete?.title}}</h5>
  </div>
  <div class="modal-body">
    {{t._.collection.modal.delete?.caption}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('cancel')">{{t._.action?.cancel}}</button>
    <button type="button" class="btn btn-danger" (click)="c('confirm')">{{t._.collection.modal.delete?.button}}</button>
  </div>
</ng-template>

<ng-template #newItemModal let-c="close" let-d="dismiss">
  <tc-item-create class="" *ngIf="isAuthor" [collection]="collection" (newItem)="onNewItem($event)"></tc-item-create>
</ng-template>

<ng-template #updateCollectionModal let-c="close" let-d="dismiss">
  <tc-collection-update
    [inputCollection]="collection"
    (newCollection)="onCollectionUpdated($event)"
    (updateCanceled)="onUpdateCollectionCanceled()">
  </tc-collection-update>
</ng-template>
