/* ==========================================================================
   COLLABORATORS MODAL COMPONENT
   ========================================================================== */

   @import '../../../styles/settings/_variables.scss';
   @import '../../../styles/settings/_mixins.scss';

   @import '../../../styles/settings/_bootstrap-variables.scss';
   @import "~bootstrap/scss/functions";
   @import "~bootstrap/scss/variables";
   @import "~bootstrap/scss/mixins";

.collaborators--container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.collaborators--content {
  padding: 2rem 2rem 0;
  height: 30.5rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.collaborators--content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;
}

.collaborators--content-title {
  position: relative;
  display: flex;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin: 0 0 1rem;
}

.collaborators--search {
  position: relative;
  display: flex;
}

.collaborators--search-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  margin: 1px;
  padding: 1px 1rem 0;
  font-size: 1rem;
  line-height: 37px;
  color: $gray-700;
  border-radius: 1px $border-radius-base $border-radius-base 1px;
  transition: background-color .2s ease, color .2s ease, .3s opacity .5s ease;
  z-index: 10;

  &:hover {
    background-color: $gray-200;
    text-decoration: none;
  }

  &:active {
    background-color: $gray-400;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.collaborators--list {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: .5rem 0 1rem;
  padding: 0;
}

.collaborators--list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: .5rem 0;
}

.collaborators--list-item-thumbnail {
  position: relative;
  display: flex;
  margin: 0 .75rem 0 0;
}

.collaborators--list-item-infos {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collaborators--list-item-infos-name {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: $gray-900;
  margin: 0;
}

.collaborators--list-item-infos-username {
  font-size: .875rem;
  font-weight: normal;
  line-height: 1.25rem;
  color: $gray-600;
  margin: 0;
}

.collaborators--list-item-actions {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 0 auto;
}

.collaborators--list-item-actions-link {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: .875rem;
  font-weight: normal;
  line-height: 1rem;
  color: $brand-primary;
}

.collaborators--list-item-role {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: .875rem;
  font-weight: normal;
  line-height: 1rem;
  color: $gray-800;

  &.dropdown-toggle::after {
    color: rgba($gray-600,.75);
  }
}

.collaborators--list-empty {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  color: $gray-600;
  margin: 0;
}

.collaborators--footer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  border-top: 1px solid $border-color;
  padding: .5rem;
}

.collaborators--footer-infos {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: .5rem;
  list-style: none;
}

.collaborators--footer-info {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $gray-600;
  font-size: .875rem;
  line-height: 1rem;
  cursor: pointer;

  .icon {
    position: relative;
    font-family: $font-mi;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1rem;
    color: inherit;
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem 0 0;
  }

  span {
    margin: 0;
    padding: 0;
    line-height: inherit;
  }

  a, span {
    color: inherit;
  }
}
