/* ==========================================================================
   HEADER COMPONENT
   ========================================================================== */

@import '../../styles/settings/_variables.scss';
@import '../../styles/settings/_mixins.scss';

@import '../../styles/settings/_bootstrap-variables.scss';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $brand-primary;
  min-height: 16rem;
  transition: min-height .4s ease;

  &.is-searching {
    min-height: 100vh!important;
    overflow-x: hidden;
    overflow-y: auto;

    @include media-breakpoint-down(md) {
      .bottom-navbar--search-bar {
        position: fixed;
        display: flex;
        background: linear-gradient(to bottom, $brand-primary 75%, rgba($brand-primary, 0));
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 2rem .625rem;
        max-width: 100%;
      }
    }
  }

  &.is-hidden {}

  &.is-page {
    min-height: 35rem;
  }

  &.has-jumbotron {
    min-height: 48rem;

    @include media-breakpoint-down(sm) {
      min-height: 38rem;
      max-height: calc(100vh - 2.5rem);
    }

    &:before, &:after {
      position: absolute;
      display: flex;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: opacity .3s ease-in-out;
    }
    &:before {
      background-image: url(~assets/img/patern-map.png)!important;
      background-size: 50%;
      background-repeat: repeat;
      opacity: .25;
      z-index: 0;

      @include media-breakpoint-down(md) {
        background-size: cover;
      }
    }

    &:after {
      background: linear-gradient(to bottom, rgba($brand-primary, 0) 25%, rgba($brand-primary, 1) 100%);
      z-index: 0;
    }
  }

  &.has-jumbotron.is-searching {
    &:before, &:after {
      opacity: 0;
    }
  }
}


// HEADER NAV

.header-nav {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  padding: 2rem 0;
  z-index: 200;
}

.header-nav.navbar-light {
  .header-nav--brand .icon:before {
    color: $red;
  }
}

.header-nav--brand {
  position: relative;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;

  @include media-breakpoint-up(sm) {
    margin: 0 2rem 0 0;
  }

  .icon {
    position: relative;
    display: flex;
    align-items: center;
    font: 0/0 transparent;
    margin: 0;
    padding: 0;

    &:before {
      position: relative;
      display: flex;
      content: "\E900";
      width: 2.5rem;
      height: 1.875rem;
      font-family: $font-icons;
      font-size: 1.9rem;
      line-height: 1;
      color: $white;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    &:after {
      content: "beta";
      position: absolute;
      display: block;
      background: $collection-yellow;
      font-family: $font-primary;
      font-size: .625rem;
      font-weight: 500;
      line-height: 12px;
      color: #111;
      padding: 1px .25rem;
      border-radius: .125rem;
      top: 0px;
      right: -20px;
    }
  }
}


// HEADER SEARCHBAR

.header-search-bar {
  position: relative;
  display: flex;
  flex-direction: row;

  width: 100%;
  background-color: $white;
  border-radius: $border-radius-base;
  overflow: hidden;
  margin: 0;
}

.header-search-bar--icon {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  font-family: $font-mi;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 2rem;
  color: $gray-600;
  width: 2rem;
  height: 2rem;
  margin: .25rem .25rem .25rem .5rem;
}

.header-search-bar--input {
  position: relative;
  display: flex;
  width: 100%;
  border: none;
  padding: 1px 1rem 0 0;
  font-size: 1rem;
  line-height: 39px;
  vertical-align: bottom;
}

.header-search-bar--cancel {
  background-color: transparent;
  margin: 1px;
  padding: 1px 1rem 0;
  font-size: 1rem;
  line-height: 37px;
  color: $gray-700;
  border-radius: 1px $border-radius-base $border-radius-base 1px;
  transition: background-color .2s ease, color .2s ease, .3s opacity .5s ease;

  &:hover {
    background-color: $gray-200;
    text-decoration: none;
  }

  &:active {
    background-color: $gray-400;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}


// HEADER NAVBAR
.header-navbar {
  position: relative;
  display: flex;
  flex: 1 1 auto;
}

.navbar-dark .header-navbar .nav-link {
  background-color: transparent;
  color: rgba($white, .75);
  border-radius: $border-radius-base;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: rgba($white, .1);
  }

  &:active {
    background-color: rgba($white, .25);
    color: $white;
  }

  &.active {
    color: $white;
  }

  &.cta {
    background-color: $collection-yellow;
    color: #111111;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: .5rem;

    &:hover {
      background-color: darken($collection-yellow, 10%);
      color: #111111;
    }
  }
}

.header-navbar--nav-search {
  width: 100%;
  max-width: 24rem;
}

.header-navbar--nav-item {
  &:not(:first-of-type) {
    margin-left: .5rem;
  }
}

.header-navbar--nav-link {
  position: relative;
  display: flex;
  flex-direction: row;
  font-weight: 500;
}

.header-navbar--nav-item-content {
  position: relative;
  display: flex;
  flex-direction: row;
}

.header-navbar--nav-link-text {
  padding: .5rem .125rem .5rem .25rem;
  color: rgba($white, .75);
}

.header-navbar--avatar {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 1rem;
  margin: -.25rem -.25rem -.25rem 1rem;

  @include media-breakpoint-down(md) {
    line-height: 26px;
  }
}


// HEADER SEARCH

.header-search {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-top: 4rem;
  z-index: 100;
}


// BOTTOM NAV

.bottom-nav {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;

  .header-navbar {
    @include media-breakpoint-down(md) {
      flex: 0 0 auto;
      margin: 0 auto;
      padding: 0 .625rem;
    }

    @include media-breakpoint-only(xs) {
      width: 100%;
    }

    @include media-breakpoint-only(sm) {
      width: 540px;
    }

    @include media-breakpoint-only(md) {
      width: 570px;
    }
  }

  @include media-breakpoint-down(md) {
    position: fixed;
    background: $white;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    padding: .5rem 0;
    box-shadow: 0 .125rem .75rem rgba($black, .25);

    .header-navbar {
      flex-direction: row;
    }

    .bottom-navbar--dashboard,
    .bottom-navbar--discover,
    .bottom-navbar--about,
    .bottom-navbar--search,
    .bottom-navbar--account,
    .bottom-navbar--signin,
    .bottom-navbar--signup {
      flex: 1 1 auto;
      margin: 0;

      .header-navbar--nav-link {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        font-size: .875rem;
        font-weight: normal;
        padding: 0;
        color: $gray-600;

        @include media-breakpoint-only(xs) {
          // font-size: 0;
          // line-height: 0;
          // margin: .5rem auto;
          font-size: .75rem;
          word-wrap: nowrap;
        }

        .header-navbar--avatar, &:after {
          width: 1.5rem;
          height: 1.5rem;
          margin: 0 auto;
          transform: translateZ(0);
        }

        &:after {
          content: "";
          font-family: $font-mi;
          font-size: 1.5rem;
          line-height: 1.5rem;
          white-space: nowrap;
          color: inherit;
        }

        &.active {
          color: $brand-primary;
        }
      }
    }

    .bottom-navbar--dashboard {
      order: 1;

      .header-navbar--nav-link:after {
        content: "home";
      }
    }

    .bottom-navbar--discover {
      order: 2;

      .header-navbar--nav-link:after {
        content: "explore";
      }
    }

    .bottom-navbar--about {
      order: 2;

      .header-navbar--nav-link:after {
        content: "info";
      }
    }

    .bottom-navbar--search {
      order: 3;

      .header-navbar--nav-link:after {
        content: "search";
      }
    }

    .bottom-navbar--search-bar {
      display: none;
    }

    .bottom-navbar--account {
      order: 4;

      .header-navbar--nav-link:after {
        display: none;
      }
    }

    .bottom-navbar--signin {
      order: 3;

      .header-navbar--nav-link:after {
        content: "person";
      }
    }

    .bottom-navbar--signup {
      order: 4;

      .header-navbar--nav-link:after {
        content: "person";
      }
    }
  }
}

// HEADER JUMBOTRON

.header-jumbotron {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10rem 0 18rem;
  z-index: 1;

  @include media-breakpoint-down(sm) {
    padding: 2rem 0 2rem;
  }
}

.header-jumbotron-container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $white;
}

.header-jumbotron--title {
  margin: .5rem 0 1rem;

  @include media-breakpoint-down(md) {
    font-size: 2rem;
  }
}

.header-jumbotron--lead {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem 0 2rem;
  color: rgba($white, .9);

  p {
    margin: 0;
  }

  @include media-breakpoint-down(md) {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

.header-jumbotron--actions {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex: 0 0 auto;
}


// HEADER COVER
.header-cover {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;

  &:before {
    position: absolute;
    display: flex;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, .6);
    z-index: 0;
  }
}
