<div class="header" [class.is-searching]="headerState == 'search'" [class.is-hidden]="noHeader" *ngIf="!headerService.noHeader">
  <a class="header-brand" href="javascript:void(0)" [routerLink]="['/']">
    <h1 class="header-brand--icon is-beta">{{t._?.app_name_capitals}}</h1>
  </a>
  <form class="header-search">
    <span class="header-search--icon">search</span>
    <input class="header-search--input" [class.is-active]="headerState == 'search'" placeholder="{{t._?.header?.search_placeholder}}" autocomplete="off" name="searchQuery" aria-describedby="header-search" [(ngModel)]="searchQuery" (focus)="searchIntent()" (click)="searchIntent()" (keyup)="onQueryKeyUp()" (keydown)="onQueryKeyDown()">
    <a href="javascript:void(0)" class="header-search--cancel" [class.is-hidden]="headerState != 'search'" (click)="cancelSearch()">
      {{t._.action?.cancel}}
    </a>
  </form>
  <nav class="header-nav nav d-none d-lg-flex mr-auto">
    <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/dashboard']" *ngIf="authService.isLoggedIn">
      {{t._?.header?.dashboard_title}}
    </a>
    <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/discover']">
      {{t._?.header?.discover_title}}
    </a>
    <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/c/last']">
      {{t._?.header?.latest_title}}
    </a>
  </nav>

  <nav class="header-nav nav ml-auto ml-lg-3 mr-3" *ngIf="authService.isLoggedIn">
    <a class="nav-link cta" href="javascript:void(0)" (click)="openModal(createCollectionModal, 'lg')">{{t._.action?.create_collection}}</a>
  </nav>

  <nav class="header-nav nav">
    <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/signin']" *ngIf="!authService.isLoggedIn">
      {{t._?.header?.signin_title}}
    </a>
    <a class="nav-link cta" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/signin']" *ngIf="!authService.isLoggedIn">
      {{t._?.header?.signup_title}}
    </a>

    <a class="nav-link d-none d-lg-flex" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/', authService.currentUser.username]" *ngIf="authService.isLoggedIn">
      <span>{{authService.currentUser.name}}</span>
      <div class="nav-link--avatar avatar">
        <picture *ngIf="authService.currentUser._avatar">
          <source srcset="{{authService.currentUser._avatar.getPath('32x32')}} 1x, {{authService.currentUser._avatar.getPath('64x64')}} 2x">
          <img [src]="authService.currentUser._avatar.getPath('32x32')"  onError="this.style.display='none';" alt="{{authService.currentUser?.name}} avatar">
        </picture>
        <span class="avatar-char">{{authService.currentUser.name.charAt(0)}}</span>
      </div>
    </a>

    <a class="nav-link d-xl-none" href="javascript:void(0)" (focus)="searchIntent()" (click)="searchIntent()">
      <span class="icon mx-0">search</span>
    </a>

    <div class="dropdown" *ngIf="authService.isLoggedIn">
      <a class="nav-link" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon">more_vert</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-item--infos">
          <div class="dropdown-item--infos-title">
            {{authService.currentUser.name}}
          </div>
          <div class="dropdown-item--infos-subtitle">
            @{{authService.currentUser.username}}
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/', authService.currentUser.username]">
          {{t._?.header?.profile_menu}}
        </a>
        <a class="dropdown-item text-danger" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/logout']">
          {{t._?.header?.logout_menu}}
        </a>
        <div class="dropdown-divider" *ngIf="authService.currentUser?.isGranted('ROLE_ADMIN')"></div>
        <a class="dropdown-item" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/admin']" *ngIf="authService.currentUser?.isGranted('ROLE_ADMIN')">
          {{t._?.header?.admin_menu}}
        </a>
      </div>
    </div>
  </nav>
</div>

<ng-template #createCollectionModal let-c="close" let-d="dismiss">
  <tc-collection-create
    (newCollection)="onCollectionCreated($event)"
    (updateCanceled)="onCreateCollectionCanceled()">
  </tc-collection-create>
</ng-template>


<tc-search-header class="application-content" *ngIf="headerState == 'search'"></tc-search-header>

<div class="page-hero" *ngIf="!authService.isLoggedIn && headerState != 'collection' && !headerService.noHeader">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="page-hero--title">{{t._.hero?.hero_title}}</h2>
        <p class="page-hero--caption">{{t._.hero?.hero_caption}}</p>
        <div class="page-hero--actions">
          <a class="btn page-hero--btn btn-primary is-shiny" routerLinkActive="active" [routerLink]="['/signin']">
            <span class="icon">{{t._?.icon?.whatshot?.filled}}</span>
            <span>{{t._?.auth?.signup_today_button}}</span>
          </a>
          <a class="btn page-hero--btn btn-outline-primary" [routerLink]="['/about']" *ngIf="headerState != 'page'">{{t._?.hero?.hero_about}}</a>
          <a class="btn page-hero--btn btn-outline-primary" [routerLink]="['/discover']" *ngIf="headerState == 'page'">{{t._?.hero?.hero_discover}}</a>
        </div>
      </div>
      <div class="col-12 col-lg-6 d-none d-lg-flex">
        <img style="display:block;width:100%;max-width:30rem;margin:-2rem 0 -7rem auto;" src="assets/img/hero-illustration.svg" />
      </div>
    </div>
  </div>
</div>
