/* ==========================================================================
   HEADER COMPONENT
   ========================================================================== */

@import '../../styles/settings/_variables.scss';
@import '../../styles/settings/_mixins.scss';

@import '../../styles/settings/_bootstrap-variables.scss';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: $white;
  box-shadow: 0 2px 0 0 rgba($black,.1);
  padding: .25rem .75rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-brand {
  position: relative;
  background-color: transparent;
  padding: .25rem .5rem .25rem .25rem;
  border-radius: $border-radius-base;
  margin: 0 1.5rem 0 0;

  @include media-breakpoint-down(md) {
    margin: 0 .5rem 0 0;
  }

  &:hover, &:active, &:focus {
    background-color: $gray-075;
    text-decoration: none;
  }
}

.header-brand--icon {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: $font-brand;
  font-weight: 600;
  font-size: 1rem;
  line-height: 2rem;
  color: $gray-900;

  &:before {
    position: relative;
    display: flex;
    content: "🍪";
    width: 2rem;
    height: 2rem;
    margin: 0 .5rem 0 0;
    font-family: $font-icons;
    font-size: 2rem;
    line-height: 1;
    color: $brand-primary;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &.is-beta {
    &:after {
      content: "beta";
      position: absolute;
      display: block;
      color: $gray-600;
      font-family: $font-brand;
      font-size: .5rem;
      font-weight: 600;
      line-height: 12px;
      text-transform: uppercase;
      right: 0;
      bottom: -.125rem;
    }
  }
}

.header-search {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  width: 100vw;
  max-width: 24rem;
  margin: 0 1.5rem 0 0;

  @include media-breakpoint-down(lg) {
    position: absolute;
    display: none;
    background-color: $white;
    max-width: 100vw;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
}

@include media-breakpoint-down(lg) {
  .is-searching {
    .header-search {
      display: flex;
    }
  }
}

.header-search--icon {
  position: absolute;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  font-family: $font-mi;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5rem;
  color: $gray-600;
  width: 1.5rem;
  height: 1.5rem;
  margin: .5rem .75rem;
  top: 0;
  left: 0;
  z-index: 1;

  @include media-breakpoint-down(lg) {
    top: .25rem;
  }
}

.header-search--input {
  position: relative;
  background-color: $gray-075;
  width: 100%;
  border: none;
  border-radius: $border-radius-base;
  border: 1px solid transparent;
  padding: 7px .5rem 7px 2.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  z-index: 0;
  transition: color .3s ease, background-color .3s ease, border-color .3s ease;


  @include media-breakpoint-down(lg) {
    background-color: $white;
    padding: 11px 1.25rem 11px 3.5rem;
  }

  &:hover, &:focus, &:active, &.is-active {
    background-color: $gray-200;
  }

  &.is-active {
    background-color: $white;

    @include media-breakpoint-up(xl) {
      border-color: $brand-primary;
    }
  }
}

.header-search--cancel {
  position: absolute;
  height: 2.25rem;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 2.25rem;
  color: $gray-700;
  top: .125rem;
  right: .125rem;
  z-index: 1;
  border-radius: 0 $border-radius-base $border-radius-base 0;

  @include media-breakpoint-down(lg) {
    top: .375rem;
  }

  &:hover, &:focus {
    background-color: $gray-075;
    text-decoration: none;
  }

  &:active {
    background-color: $gray-300;
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
