<div class="header" [class.is-searching]="headerState == 'search'" [class.is-hidden]="noHeader" *ngIf="!headerService.noHeader">
  <a class="header-brand" href="javascript:void(0)" [routerLink]="['/']">
    <h1 class="header-brand--icon is-beta">{{t._?.app_name_capitals}}</h1>
  </a>
  <form class="header-search">
    <span class="header-search--icon">search</span>
    <input class="header-search--input" placeholder="{{t._?.header?.search_placeholder}}" autocomplete="off" name="searchQuery" aria-describedby="header-search" [(ngModel)]="searchQuery" (focus)="searchIntent()" (click)="searchIntent()" (keyup)="onQueryKeyUp()" (keydown)="onQueryKeyDown()">
    <a href="javascript:void(0)" class="header-search--cancel" [class.is-hidden]="headerState != 'search'" (click)="cancelSearch()">
      {{t._.action?.cancel}}
    </a>
  </form>
  <nav class="header-nav nav d-none d-lg-flex">
    <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/dashboard']" *ngIf="authService.isLoggedIn">
      {{t._?.header?.dashboard_title}}
    </a>
    <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/discover']" *ngIf="authService.isLoggedIn">
      {{t._?.header?.discover_title}}
    </a>
    <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/c/last']" *ngIf="authService.isLoggedIn">
      {{t._?.header?.latest_title}}
    </a>
  </nav>

  <nav class="header-nav nav ml-auto">
    <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/signin']" *ngIf="!authService.isLoggedIn">
      {{t._?.header?.signin_title}}
    </a>
    <a class="nav-link cta" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/signin']" *ngIf="!authService.isLoggedIn">
      {{t._?.auth?.signup_today_button}}
    </a>

    <a class="nav-link d-none d-lg-flex" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/', authService.currentUser.username]" *ngIf="authService.isLoggedIn">
      <span>{{authService.currentUser.name}}</span>
      <div class="nav-link--avatar avatar">
        <img *ngIf="authService.currentUser._avatar" [src]="authService.currentUser._avatar.getPath('40x40')"  onError="this.style.display='none';" alt="{{authService.currentUser?.name}} avatar">
        <span class="avatar-char">{{authService.currentUser.name.charAt(0)}}</span>
      </div>
    </a>

    <a class="nav-link d-lg-none" href="javascript:void(0)" (focus)="searchIntent()" (click)="searchIntent()">
      <span class="icon mx-0">search</span>
    </a>

    <div class="dropdown" *ngIf="authService.isLoggedIn">
      <a class="nav-link" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon">more_vert</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-item--infos">
          <div class="dropdown-item--infos-title">
            {{authService.currentUser.name}}
          </div>
          <div class="dropdown-item--infos-subtitle">
            @{{authService.currentUser.username}}
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/', authService.currentUser.username]">
          {{t._?.header?.profile_menu}}
        </a>
        <a class="dropdown-item text-danger" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/logout']">
          {{t._?.header?.logout_menu}}
        </a>
        <div class="dropdown-divider" *ngIf="authService.currentUser?.isGranted('ROLE_ADMIN')"></div>
        <a class="dropdown-item" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/admin']" *ngIf="authService.currentUser?.isGranted('ROLE_ADMIN')">
          {{t._?.header?.admin_menu}}
        </a>
      </div>
    </div>
  </nav>
</div>

<tc-search-header class="application-content" *ngIf="headerState == 'search'"></tc-search-header>


<!-- <div class="header"
    [class.is-searching]="headerState == 'search'"
    [class.is-hidden]="noHeader"
    [class.is-page]="headerState == 'collection' || headerState == 'page'"
    [class.has-jumbotron]="!authService.isLoggedIn && (headerState == 'discover' || headerState == 'search')"
    *ngIf="!headerService.noHeader">

  <nav class="header-nav navbar navbar-expand-md navbar-dark">
    <div class="container justify-content-center">
      <a class="header-nav--brand navbar-brand" href="javascript:void(0)" [routerLink]="['/']">
        <h1 class="icon beta">{{t._?.app_name_capitals}}</h1>
      </a>

      <div class="bottom-nav">
        <ul class="header-navbar navbar-nav">

          <li class="header-navbar--nav-search mr-md-auto bottom-navbar--search-bar">
            <form class="header-search-bar">
              <span id="header-search" class="header-search-bar--icon">search</span>
              <input class="header-search-bar--input"
                    autocomplete="off"
                    name="searchQuery"
                    placeholder="{{t._?.header?.search_placeholder}}"
                    aria-describedby="header-search"
                    [(ngModel)]="searchQuery"
                    (focus)="searchIntent()"
                    (click)="searchIntent()"
                    (keyup)="onQueryKeyUp()"
                    (keydown)="onQueryKeyDown()">
              <a href="javascript:void(0)" class="header-search-bar--cancel" [class.hidden]="headerState != 'search'" (click)="cancelSearch()">{{t._.action?.cancel}}</a>
            </form>
          </li>

          <li class="header-navbar--nav-item nav-item bottom-navbar--search d-lg-none">
            <a class="header-navbar--nav-link nav-link" (focus)="searchIntent()" (click)="searchIntent()">
              <span>{{t._?.header?.search_title}}</span>
            </a>
          </li>

          <li class="header-navbar--nav-item nav-item bottom-navbar--dashboard" *ngIf="authService.isLoggedIn">
            <a class="header-navbar--nav-link nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">
              <span>{{t._?.header?.dashboard_title}}</span>
            </a>
          </li>

          <li class="header-navbar--nav-item nav-item bottom-navbar--discover d-lg-none" *ngIf="!authService.isLoggedIn">
            <a class="header-navbar--nav-link nav-link" routerLinkActive="active" [routerLink]="['/discover']">
              <span>{{t._?.header?.discover_title}}</span>
            </a>
          </li>

          <li class="header-navbar--nav-item nav-item bottom-navbar--discover" *ngIf="authService.isLoggedIn">
            <a class="header-navbar--nav-link nav-link" routerLinkActive="active" [routerLink]="['/discover']">
              <span>{{t._?.header?.discover_title}}</span>
            </a>
          </li>

          <li class="header-navbar--nav-item nav-item bottom-navbar--about d-lg-none" *ngIf="!authService.isLoggedIn">
            <a class="header-navbar--nav-link nav-link" routerLinkActive="active" [routerLink]="['/about']">
              <span>{{t._?.header?.about_title}}</span>
            </a>
          </li>

          <li class="header-navbar--nav-item nav-item bottom-navbar--account d-lg-none" *ngIf="authService.isLoggedIn">
            <a class="header-navbar--nav-link nav-link" routerLinkActive="active" [routerLink]="['/', authService.currentUser.username]">
              <span>{{authService.currentUser.name}}</span>
              <div class="header-navbar--avatar avatar">
                <img *ngIf="authService.currentUser._avatar" [src]="authService.currentUser._avatar.getPath('40x40')"  onError="this.style.display='none';" alt="{{authService.currentUser?.name}} avatar">
                <span class="avatar-char">{{authService.currentUser.name.charAt(0)}}</span>
              </div>
            </a>
          </li>

          <li class="header-navbar--nav-item nav-item dropdown d-none d-lg-flex" *ngIf="authService.isLoggedIn">
            <a class="header-navbar--nav-link nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>{{authService.currentUser.name}}</span>
              <div class="header-navbar--avatar avatar">
                <img *ngIf="authService.currentUser._avatar" [src]="authService.currentUser._avatar.getPath('40x40')"  onError="this.style.display='none';" alt="{{authService.currentUser?.name}} avatar">
                <span class="avatar-char">{{authService.currentUser.name.charAt(0)}}</span>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-item--infos">
                <div class="dropdown-item--infos-title">
                  {{authService.currentUser.name}}
                </div>
                <div class="dropdown-item--infos-subtitle">
                  @{{authService.currentUser.username}}
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/', authService.currentUser.username]">
                {{t._?.header?.profile_menu}}
              </a>
              <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/logout']">
                {{t._?.header?.logout_menu}}
              </a>
              <div class="dropdown-divider" *ngIf="authService.currentUser?.isGranted('ROLE_ADMIN')"></div>
              <a class="dropdown-item" *ngIf="authService.currentUser?.isGranted('ROLE_ADMIN')" [routerLink]="['/admin']">
                {{t._?.header?.admin_menu}}
              </a>
            </div>
          </li>

          <li class="header-navbar--nav-item nav-item bottom-navbar--signin d-lg-none" *ngIf="!authService.isLoggedIn">
            <a class="header-navbar--nav-link nav-link" routerLinkActive="active" [routerLink]="['/signin']">
              <span>{{t._?.header?.signin_title}}</span>
            </a>
          </li>

          <li class="header-navbar--nav-item nav-item bottom-navbar--signin d-none d-lg-flex" *ngIf="!authService.isLoggedIn && headerState == 'discover'" >
            <div class="header-navbar--nav-item-content">
              <span class="header-navbar--nav-link-text">
                {{t._?.auth?.already_member_title}}
              </span>
              <a class="header-navbar--nav-link nav-link active" routerLinkActive="active" [routerLink]="['/signin']">
                {{t._?.header?.signin_title}}
              </a>
            </div>
          </li>

          <li class="header-navbar--nav-item nav-item bottom-navbar--signup  d-none d-lg-flex" *ngIf="!authService.isLoggedIn && headerState != 'discover'" >
            <div class="header-navbar--nav-item-content">
              <span class="header-navbar--nav-link-text">
                {{t._?.auth?.not_member_title}}
              </span>
              <a class="header-navbar--nav-link nav-link cta" routerLinkActive="active" [routerLink]="['/signin']">
                {{t._?.auth?.signup_today_button}}
              </a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <tc-search-header class="header-search" *ngIf="headerState == 'search'"></tc-search-header>

  <div class="header-jumbotron" *ngIf="!authService.isLoggedIn && headerState == 'discover'">
    <div class="container">
      <div class="row">

        <div class="header-jumbotron-container col-12 col-md-10 mx-md-auto">
          <h1 class="header-jumbotron--title">{{t._?.header?.jumbotron?.slogan}}</h1>
          <div class="header-jumbotron--lead">
            <p>{{t._?.header?.jumbotron?.description_line_1}}</p>
            <p>{{t._?.header?.jumbotron?.description_line_2}}</p>
          </div>
          <div class="header-jumbotron--actions">
            <a class="btn btn-yellow btn-alt" routerLinkActive="active" [routerLink]="['/signin']">{{t._?.auth?.signup_today_button}}</a>
            <a class="btn btn-secondary btn-alt d-none d-md-flex" [routerLink]="['/about']">{{t._?.header?.jumbotron?.about_button}}</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="header-cover" *ngIf="image" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>

</div> -->
