<div class="header" [class.is-searching]="headerState == 'search'" [class.is-hidden]="noHeader" *ngIf="!headerService.noHeader">
  <a class="header-brand" href="javascript:void(0)" [routerLink]="['/']">
    <h1 class="header-brand--icon is-beta">{{t._?.app_name_capitals}}</h1>
  </a>
  <form class="header-search">
    <span class="header-search--icon">search</span>
    <input class="header-search--input" placeholder="{{t._?.header?.search_placeholder}}" autocomplete="off" name="searchQuery" aria-describedby="header-search" [(ngModel)]="searchQuery" (focus)="searchIntent()" (click)="searchIntent()" (keyup)="onQueryKeyUp()" (keydown)="onQueryKeyDown()">
    <a href="javascript:void(0)" class="header-search--cancel" [class.is-hidden]="headerState != 'search'" (click)="cancelSearch()">
      {{t._.action?.cancel}}
    </a>
  </form>
  <nav class="header-nav nav d-none d-lg-flex">
    <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/dashboard']" *ngIf="authService.isLoggedIn">
      {{t._?.header?.dashboard_title}}
    </a>
    <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/discover']">
      {{t._?.header?.discover_title}}
    </a>
    <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/c/last']">
      {{t._?.header?.latest_title}}
    </a>
  </nav>

  <nav class="header-nav nav ml-auto">
    <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/signin']" *ngIf="!authService.isLoggedIn">
      {{t._?.header?.signin_title}}
    </a>
    <a class="nav-link cta" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/signin']" *ngIf="!authService.isLoggedIn">
      {{t._?.auth?.signup_today_button}}
    </a>

    <a class="nav-link d-none d-lg-flex" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/', authService.currentUser.username]" *ngIf="authService.isLoggedIn">
      <span>{{authService.currentUser.name}}</span>
      <div class="nav-link--avatar avatar">
        <img *ngIf="authService.currentUser._avatar" [src]="authService.currentUser._avatar.getPath('40x40')"  onError="this.style.display='none';" alt="{{authService.currentUser?.name}} avatar">
        <span class="avatar-char">{{authService.currentUser.name.charAt(0)}}</span>
      </div>
    </a>

    <a class="nav-link d-lg-none" href="javascript:void(0)" (focus)="searchIntent()" (click)="searchIntent()">
      <span class="icon mx-0">search</span>
    </a>

    <div class="dropdown" *ngIf="authService.isLoggedIn">
      <a class="nav-link" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon">more_vert</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-item--infos">
          <div class="dropdown-item--infos-title">
            {{authService.currentUser.name}}
          </div>
          <div class="dropdown-item--infos-subtitle">
            @{{authService.currentUser.username}}
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/', authService.currentUser.username]">
          {{t._?.header?.profile_menu}}
        </a>
        <a class="dropdown-item text-danger" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/logout']">
          {{t._?.header?.logout_menu}}
        </a>
        <div class="dropdown-divider" *ngIf="authService.currentUser?.isGranted('ROLE_ADMIN')"></div>
        <a class="dropdown-item" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/admin']" *ngIf="authService.currentUser?.isGranted('ROLE_ADMIN')">
          {{t._?.header?.admin_menu}}
        </a>
      </div>
    </div>
  </nav>
</div>

<tc-search-header class="application-content" *ngIf="headerState == 'search'"></tc-search-header>

<!-- <div class="header-jumbotron" *ngIf="!authService.isLoggedIn && headerState == 'discover'">
  <div class="container">
    <div class="row">

      <div class="header-jumbotron-container col-12 col-md-10 mx-md-auto">
        <h1 class="header-jumbotron--title">{{t._?.header?.jumbotron?.slogan}}</h1>
        <div class="header-jumbotron--lead">
          <p>{{t._?.header?.jumbotron?.description_line_1}}</p>
          <p>{{t._?.header?.jumbotron?.description_line_2}}</p>
        </div>
        <div class="header-jumbotron--actions">
          <a class="btn btn-yellow btn-alt" routerLinkActive="active" [routerLink]="['/signin']">{{t._?.auth?.signup_today_button}}</a>
          <a class="btn btn-secondary btn-alt d-none d-md-flex" [routerLink]="['/about']">{{t._?.header?.jumbotron?.about_button}}</a>
        </div>
      </div>

    </div>
  </div>
</div> -->
