/* ==========================================================================
   ITEM COMPONENT
   ========================================================================== */

   @import '../../styles/settings/_variables.scss';
   @import '../../styles/settings/_mixins.scss';

   @import '../../styles/settings/_bootstrap-variables.scss';
   @import "~bootstrap/scss/functions";
   @import "~bootstrap/scss/variables";
   @import "~bootstrap/scss/mixins";

.collection-item--container {
  grid-column: span 1;
  grid-row: span 1;
}

.collection-item {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: $white;
  border-radius: $border-radius-base;
  padding: 0;
  margin: 0;
  color: $gray-900;

  &:hover, &:focus, &:active {
    text-decoration: none;
    color: $gray-900;
  }
}

.collection-item--content {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column-reverse;
  align-items: flex-start;
  background-color: $white;
  padding: 11px;
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  color: inherit;
  transition: background-color .3s ease;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  &:hover, &:focus, &:active {
    background-color: $gray-100;
    text-decoration: none;
    color: inherit;
  }

  &.is-small {
    flex-direction: row;
  }

  &.is-medium {
    flex-direction: column-reverse;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &.is-large {
    padding: 0;
    border: 0;

    &:hover {
      background-color: $gray-100;
    }

    &.is-video {}

    &.is-tweet {
      align-items: center;

      .tweet-container {
        max-width: 100%;
        margin-top: -10px;
        margin-bottom: -10px;
      }
    }

    &.is-text {
      position: relative;
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: .5rem;
    }

    &.is-image {
      img {
        max-width: 100%;
      }
    }
  }

  &.is-large, &.is-video.is-extended {
    flex-direction: column-reverse;
  }
}

.collection-item--infos {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;
  padding: .25rem;
  color: inherit;

  &:hover, &:focus, &:active {
    text-decoration: none;
    color: inherit;
  }
}

.collection-item--infos-title {
  font-family: $font-primary;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 0 0 .25rem;
}

.collection-item--infos-metas {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  list-style: none;
  font-size: .875rem;
  line-height: 1.25rem;
  padding: 0;
  margin: 0;

  &.is-horizontal {
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;

      .collection-item--infos-meta:not(:last-child) {
        margin: 0 .5rem 0 0;
      }
    }
  }
}

.collection-item--infos-meta {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  color: $gray-800;
  margin: 0 0 1rem;

  &.is-description {
    max-height: 3.75rem;
    overflow: hidden;
  }

  .name {
    font-weight: 500;
  }

  .value {}
}

.collection-item--infos-website {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  margin: auto 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.collection-item--infos-favicon {
  margin: 0 .5rem 0 0;
}

.collection-item--infos-host,
.collection-item--infos-author {
  font-size: .875rem;
  line-height: 1rem;
  color: $gray-600;

  &:not(:last-child) {
    &:after {
      content: "·";
      color: inherit;
      margin: 0 .25rem;
      color: inherit;
    }
  }
}

.collection-item--cover {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  background-color: $white;
  width: 100%;
  height: 8rem;
  margin: 0 0 .5rem;
  border-radius: $border-radius-base;
  overflow: hidden;
  transition: height .3s ease, padding .3s ease;

  @include media-breakpoint-up(md) {
    width: auto;
    max-width: 25%;
    height: auto;
    margin: 0 0 0 .5rem;
  }

  @include media-breakpoint-up(xl) {
    max-width: 50%;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba($black, .1);
    width: 100%;
    height: 100%;
    border-radius: $border-radius-base;
    pointer-events: none;
  }

  &.is-video {
    cursor: pointer;
  }

  &.is-image {
    height: auto;

    & > img {
      position: relative!important;
    }
  }

  &.is-extended {
    width: 100%;
    max-width: none;
    height: 0;
    padding-top: 56.25%;
    margin: 0 0 .5rem;
  }

  & > img {
    @include media-breakpoint-down(lg) {
      position: absolute;
      width: 100%;
      height: 100%;
      max-height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      object-fit: cover;
    }

    @include media-breakpoint-up(md) {
      position: relative;
      max-height: 8rem;
    }

    &.is-blurry {
      filter: blur(1rem);
    }
  }
}

.collection-item--cover-actions {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba($black,0), rgba($black,.5));
  padding: 4rem 1rem 1rem;

  .collection-item--infos-title {
    color: $white;
  }

  .collection-item--infos-host, .collection-item--infos-author {
    color: $white;
  }
}

.collection-item--cover-action-details {
  position: relative;
  display: flex;
  flex-direction: row;
}

.collection-item--cover-action-btn {
  position: relative;
  display: flex;
  background-color: $white;
  font-family: $font-mi;
  font-size: 1.75rem;
  line-height: 1.75rem;
  // width: 1.75rem;
  // height: 1.75rem;
  text-align: center;
  margin: 0 .75rem 0 0;
  padding: .5rem;
  border-radius: 50%;
}

.collection-item--cover-action-infos {

}

.collection-item--cover-action {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  background-color: $white;
  color: $gray-800;
  padding: .25rem .75rem .25rem .5rem;
  border-radius: $border-radius-base;
  cursor: pointer;
  transition: background-color .2s ease;

  &:hover, &:focus {
    background-color: $gray-100;
  }

  .icon {
    font-family: $font-mi;
    font-size: 1.25rem;
    line-height: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
    margin: 0 .25rem 0 0;
  }

  .label {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
}

.collection-item--cover-player {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.collection-item--caption {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: .5rem .25rem;
  margin: 0;
  font-size: .875rem;
  color: $gray-600;
}

.collection-item--content.is-small {
  flex-direction: row;
  align-items: flex-start;

  .collection-item--infos-favicon {
    margin: .25rem .5rem .25rem 0;
  }

  .collection-item--infos-title {
    font-size: 1rem;
    line-height: 1.25rem;
    margin: .125rem 0;
  }
}

.collection-item--content.is-large {
  .collection-item--cover {
    position: relative;
    width: 100%;
    max-width: 100%;
    // height: 8rem;
    margin: 0;

    & > img {
      position: absolute;
      width: 100%;
      height: 100%;
      max-height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      object-fit: cover;
    }
  }
}

// Empty phase

.collection-item.is-empty {
  align-items: center;
  border: 1px solid $border-color;
  padding: 0 1.5rem;

  .collection-item--content {
    flex-direction: column;
    border: none;

    &:hover {
      background-color: $white;
    }
  }
}

.collection-item--empty-phase {
  width: 100%;
  max-width: 24rem;
  padding: 2rem 0 3.5rem;
  text-align: center;
  align-items: center;
}

.collection-item--empty-image {
  max-width: 100%;
  margin-bottom: -1.5rem;
}

.collection-item--empty-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: $gray-900;
  margin: 0 0 .5rem;
}

.collection-item--empty-caption {
  font-size: 1rem;
  line-height: 1.5rem;
  color: $gray-900;
  margin: 0;

  &:not(:last-child) {
    margin: 0 0 1.5rem;
  }
}

.collection-item--empty-actions {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 2rem;
  justify-content: center;
}

.collection-item--empty-action + .collection-item--empty-action {
  margin-left: .5rem;
}
