<div class="collection-item" [class.is-caption]="item.type == itemTypes.TEXT.id" *ngIf="item._id">
  <tc-item-url [item]="item" *ngIf="item.type == itemTypes.URL.id"></tc-item-url>
  <tc-item-image [item]="item" *ngIf="item.type == itemTypes.IMAGE.id"></tc-item-image>
  <tc-item-youtube [item]="item" *ngIf="item.type == itemTypes.YOUTUBE.id"></tc-item-youtube>
  <tc-item-tweet [item]="item" *ngIf="item.type == itemTypes.TWEET.id"></tc-item-tweet>
  <tc-item-text [item]="item" *ngIf="item.type == itemTypes.TEXT.id"></tc-item-text>

  <markdown class="collection-item--caption" [data]="item.description" *ngIf="item.description && item.type != itemTypes.TEXT.id"></markdown>

  <div class="hover--actions" *ngIf="isAuthor">
    <a [href]="item._content.url" target="_blank" rel="nofollow" class="hover--action" *ngIf="item.displayMode == 'LARGE' && item.type != itemTypes.TEXT.id">
      {{t._.action?.original}}
    </a>

    <a href="javascript:void(0)" class="dropdown-item" (click)="openUpdateModal('lg')" class="hover--action" *ngIf="item.type == itemTypes.TEXT.id">
      {{t._.action?.edit}}
    </a>

    <a href="javascript:void(0)" class="hover--action" [class.collection-card--drag-handle]="isAuthor" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="icon" placement="bottom" [ngbTooltip]="dragTooltip">{{t._.icon?.drag?.filled}}</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
      <a href="javascript:void(0)" class="dropdown-item" (click)="openUpdateModal('lg')">
        <span class="icon">{{t._.icon?.edit?.filled}}</span>
        <span>{{t._.action?.edit}}</span>
      </a>
      <a href="javascript:void(0)" class="dropdown-item" (click)="openDeleteItemModal(itemDeleteModal)">
        <span class="icon">{{t._.icon?.delete?.filled}}</span>
        <span>{{t._.action?.delete}}</span>
      </a>
      <div class="dropdown-divider" *ngIf="item.type != itemTypes.TEXT.id"></div>
      <a [href]="item._content.url" target="_blank" rel="nofollow" class="dropdown-item" *ngIf="item.type != itemTypes.TEXT.id">
        <span class="icon">{{t._.icon?.open?.filled}}</span>
        <span>{{t._.action?.view_original}}</span>
      </a>
      <a href="javascript:void(0)" class="dropdown-item" (click)="copyItemLink()" *ngIf="item.type != itemTypes.TEXT.id">
        <span class="icon">{{t._.icon?.copy?.filled}}</span>
        <span>{{t._.action?.copy_link}}</span>
      </a>
      <!-- <a href="javascript:void(0)" class="dropdown-item" *ngIf="item.type != itemTypes.TEXT.id">
        <span class="icon">{{t._.icon?.update?.filled}}</span>
        <span>{{t._.action?.update_preview}}</span>
      </a> -->
      <div class="dropdown-divider" *ngIf="availableDisplayModes.length > 0"></div>
      <div class="dropdown-header" *ngIf="availableDisplayModes.length > 0">{{t._.action?.switch?.title}}</div>
      <a href="javascript:void(0)" class="dropdown-item" [class.is-set]="item.displayMode == 'SMALL'" (click)="updateItemDisplayMode('SMALL')" *ngIf="availableDisplayModes.includes('SMALL')">
        <span class="icon">{{t._.icon?.link?.filled}}</span>
        <span>{{t._.action?.switch?.small}}</span>
      </a>
      <a href="javascript:void(0)" class="dropdown-item" [class.is-set]="item.displayMode == 'MEDIUM'" (click)="updateItemDisplayMode('MEDIUM')" *ngIf="availableDisplayModes.includes('MEDIUM')">
        <span class="icon">{{t._.icon?.bookmark?.filled}}</span>
        <span>{{t._.action?.switch?.medium}}</span>
      </a>
      <a href="javascript:void(0)" class="dropdown-item" [class.is-set]="item.displayMode == 'LARGE'" (click)="updateItemDisplayMode('LARGE')" *ngIf="availableDisplayModes.includes('LARGE')">
        <span class="icon">{{t._.icon?.embed?.filled}}</span>
        <span>{{t._.action?.switch?.large}}</span>
      </a>
      <div class="dropdown-divider"></div>
      <ul class="dropdown-text">
        <li [attr.title]="item.createdAt | date:'EEEE, LLLL dd, y h:mm a'" *ngIf="item._author">
          {{t.format(t._.item?.created_by, [item._author?.name])}}
        </li>
        <li class="date" [attr.title]="item.updatedAt | date:'EEEE, LLLL dd, y h:mm a'">
          <ng-container *ngIf="(todayDate | date:'yyyy-MM-dd') > (item.updatedAt | date:'yyyy-MM-dd')">
            {{t.format(t._.item?.updated_on, [item.updatedAt | date])}}
          </ng-container>
          <ng-container *ngIf="(todayDate | date:'yyyy-MM-dd') === (item.updatedAt | date:'yyyy-MM-dd')">
            {{t.format(t._.item?.updated_today_at, [item.updatedAt | date:'h:mm a'])}}
          </ng-container>
        </li>
      </ul>
    </div>
  </div>

</div>

<ng-template #updateItemModal let-c="close" let-d="dismiss">
    <tc-item-create [item]=item (newItem)="onItemUpdated($event);" (updateCanceled)="onItemUpdatedCanceled($event)"></tc-item-create>
</ng-template>

<ng-template #updateColletionModal let-c="close" let-d="dismiss">
    <tc-collection-create [inputCollection]="item._content" (newCollection)="onSubCollectionUpdated($event);" (updateCanceled)="onItemUpdatedCanceled($event)"></tc-collection-create>
</ng-template>

<ng-template class="default-modal" #itemDeleteModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">{{t._.item?.delete_title}}</h5>
  </div>
  <div class="modal-body">
    {{t._.item?.delete_caption}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('cancel')">{{t._.action?.cancel}}</button>
    <button type="button" class="btn btn-danger" (click)="c('confirm')">{{t._.item?.delete_button_yes}}</button>
  </div>
</ng-template>

<ng-template #dragTooltip>
  <markdown class="tooltip-content no-whitespace text-center" [data]="t._.action?.drag"></markdown>
  <markdown class="tooltip-content no-whitespace text-center" [data]="t._.action?.click"></markdown>
</ng-template>
