<div class="container">
  <nav class="navbar px-0">
    <div class="footer-navbar-text navbar-text">
      <span>© {{currentDate.getFullYear()}}</span>
      <span>{{t._?.app_name_capitals}}</span>
    </div>

    <ul class="footer-nav nav ml-lg-auto">
      <div class="nav-select dropdown-toggle" *ngIf="!isUpdatingLanguage">
        <select (change)="updateLanguage()" [(ngModel)]="t.unsafeCurrentLanguage" name="language" [disabled]="isUpdatingLanguage">
            <option value="en">English (US)</option>
            <option value="fr">Français (FR)</option>
        </select>
      </div>
      <div class="nav-link" *ngIf="isUpdatingLanguage">
        <span class="icon">{{t._.icon?.waiting?.filled}}</span>
      </div>
      <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/about']" >{{t._.page?.about?.title}}</a>
      <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/terms']">{{t._.page?.terms?.title_short}}</a>
      <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/privacy']">{{t._.page?.privacy?.title_short}}</a>
    </ul>

  </nav>
</div>
