/* ==========================================================================
   FOOTER COMPONENT
   ========================================================================== */

@import '../../styles/settings/_variables.scss';
@import '../../styles/settings/_mixins.scss';

@import '../../styles/settings/_bootstrap-variables.scss';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.footer-navbar-text {
  font-size: .875rem;
  line-height: 1.5rem;
  font-weight: normal;
  color: $gray-600;
  margin: 0;
}

.footer-nav {
  .nav-link, .nav-select {
    background-color: transparent;
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: normal;
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin: 0 1rem 0 0;
    }

    &:hover, &:active, &:focus {
      background-color: transparent;
      text-decoration: underline;
    }
  }

  .nav-link {
    .icon {
      font-size: 1rem;
      line-height: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
    }
  }

  .nav-select {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $gray-600;
    cursor: pointer;

    select {
      background-color: transparent;
      appearance: none;
      border: none;
      font-size: .875rem;
      color: $gray-600;

      &:hover, &:focus, &:active {
        text-decoration: underline;
      }
    }
  }
}
