<div class="footer">
  <div class="container">

    <h1 class="icon-tidycards logo footer-logo">{{t._?.app_name_capitals}}</h1>
    <span class="footer-copy">© 2018 {{t._?.app_name_capitals}}</span>

    <nav class="footer-nav">
      <li class="footer-nav--item">
          <select class="custom-select select-sm" (change)="updateLanguage()" [(ngModel)]="t.unsafeCurrentLanguage" name="language" [disabled]="isUpdatingLanguage">
              <option value="en">English</option>
              <option value="fr">Français</option>
          </select>
          <small *ngIf="isUpdatingLanguage">Update in progress…</small>
      </li>
      <li class="footer-nav--item">
        <a [routerLink]="['/about']" >{{t._.page?.about?.title}}</a>
      </li>
      <!-- <li class="footer-nav--item">
        <a [routerLink]="['/contact']" >{{t._.page?.contact?.title}}</a>
      </li>
      <li class="footer-nav--item">
        <a [routerLink]="['/team']" >{{t._.page?.team?.title}}</a>
      </li> -->
      <li class="footer-nav--item">
        <a [routerLink]="['/terms']">{{t._.page?.terms?.title_short}}</a>
      </li>
      <li class="footer-nav--item">
        <a [routerLink]="['/privacy']">{{t._.page?.privacy?.title_short}}</a>
      </li>
    </nav>

  </div>
</div>
