<div class="application-content is-list-collection">
  <div class="container">

    <div class="section">
      <h2 class="section-title dark-bg">
        {{t._.collection?.my_title}}
        <a class="section-title-more" href="javascript:void(0)" [routerLink]="['/', authService.currentUser.username, 'c']">
          {{t._.action?.see_all}}
        </a>
      </h2>

      <div class="row" tc-sortable [ignoreItem]="1" [list]=myCollections [ghostClass]="'card-ghost col-12 col-md-6 col-lg-4 col-xl-3'" (itemMoved)="onCollectionMoved($event)">

        <tc-collection-create (newCollection)="onbCollectionCreated($event)" class="ui-state-default ui-state-disabled not-sortable-item col-12 col-md-6 col-lg-4 col-xl-3"></tc-collection-create>
        <div *ngFor="let collection of myCollections" [class.cancel-sort]="isUpdatingPosition" class="ui-state-default col-12 col-md-6 col-lg-4 col-xl-3">
          <tc-collection-card [collection]="collection" [sortable]=true></tc-collection-card>
        </div>

      </div>
    </div>

    <div class="section">
      <h2 class="section-title">
        {{t._.collection?.my_favorite_title}}
        <a class="section-title-more" href="javascript:void(0)" [routerLink]="['/', authService.currentUser.username, 'c', 'starred']">
          {{t._.action?.see_all}}
        </a>
      </h2>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let collection of myFavoriteCollections">
          <tc-collection-card [collection]="collection" [sortable]="false"></tc-collection-card>
        </div>
      </div>
    </div>

  </div>
</div>