<div class="page-content container">

  <section class="page-heading">
    <h2 class="page-heading--title">{{t._.discover?.page_title}}</h2>
    <p class="page-heading--caption">{{t._.discover?.page_caption}}</p>
  </section>

  <section class="page-section">
    <div class="page-section--heading">
      <h2 class="page-section--heading--title">{{t._.discover?.featured_title}}</h2>
      <a class="page-section--heading--more" href="javascript:void(0)" [routerLink]="['/c/featured']">{{t._.action?.see_all}}</a>
    </div>
    <div class="page-collections-list">
      <tc-collection-card class="collection-card--container" [class.is-bigger]="index == 0" [collection]="collection" [sortable]="false" *ngFor="let collection of featuredCollections; let index = index"></tc-collection-card>
    </div>
  </section>

  <section class="page-section">
    <div class="page-section--heading">
      <h2 class="page-section--heading--title">{{t._.discover?.popular_title}}</h2>
      <a class="page-section--heading--more" href="javascript:void(0)" [routerLink]="['/c/trending']">{{t._.action?.see_all}}</a>
    </div>
    <div class="page-collections-list">
      <tc-collection-card class="collection-card--container" [collection]="collection" [sortable]="false" *ngFor="let collection of popularCollections"></tc-collection-card>
    </div>
  </section>

</div>
