<a class="collection-item--content is-small" [href]="item._content.url" target="_blank" rel="nofollow" *ngIf="item.displayMode == 'SMALL'">
  <img class="collection-item--infos-favicon" src="https://www.google.com/s2/favicons?domain=twitter.com" />
  <h3 class="collection-item--infos-title">Tweeted by {{itemTweet.author_name}}</h3>
  <!-- <p class="collection-item--infos-subtitle">{{item._content.description}}</p> -->
  <!-- <h3 class="collection-item--infos-title">{{item.title}}</h3> -->
</a>

<div class="collection-item--content is-tweet" [class.is-large]="item.displayMode != 'SMALL'" *ngIf="item.displayMode != 'SMALL'">
  <div class="tweet-container" [innerHtml]="itemTweet.html"></div>
</div>
